<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title class="text-center">
    {{ "create_beneficiary" | translate }}
  </h2>

  <mat-divider class="mx-n4"></mat-divider>

  <mat-dialog-content class="mat-typography py-3">
    <h4>
      <strong translate>personal_data</strong>
    </h4>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>phone</mat-label>
          <input
            matInput
            formControlName="phone"
            title=""
            placeholder="69111111"
          />
          <mat-error translate>eight_digits</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>landline</mat-label>
          <input
            matInput
            formControlName="landline"
            title=""
            placeholder="22111111"
          />
          <mat-error translate>eight_digits</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>family_name</mat-label>
          <input matInput formControlName="first_name" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-5">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>last_name</mat-label>
          <input matInput formControlName="last_name" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>age</mat-label>
          <input matInput formControlName="age" type="number" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>{{ "zone" | translate }}</mat-label>
          <mat-select formControlName="zone">
            <mat-option *ngFor="let zone of zones" [value]="zone">
              {{ zone | translate }}
            </mat-option>
          </mat-select>
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>address</mat-label>
          <input matInput formControlName="address" title="" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="selectAddress()"
          >
            <mat-icon>explore</mat-icon>
          </button>
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>entrance</mat-label>
          <input matInput formControlName="entrance" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>floor</mat-label>
          <input matInput formControlName="floor" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>apartment</mat-label>
          <input matInput formControlName="apartment" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label translate>special_condition</mat-label>
          <mat-select formControlName="special_condition">
            <mat-option value="none">{{ "none" | translate }}</mat-option>
            <mat-option
              *ngFor="let condition of specialConditions"
              [value]="condition"
            >
              {{ condition | translate }}
            </mat-option>
          </mat-select>
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-divider class="mx-n4"></mat-divider>

  <mat-dialog-actions class="justify-content-center py-3">
    <button mat-flat-button class="px-5 py-1" color="primary" type="submit">
      {{ "create" | translate }}
    </button>
  </mat-dialog-actions>
</form>
