<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="header">
    <h2>Crează Beneficiar Nou</h2>
    <div class="close-link">
      <a (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </a>
    </div>
  </div>

  <div class="content">
    <div class="fieldset">Date personale</div>

    <div class="fields_row">
      <div class="field mobile" fxFlex fxLayout="column">
        <div class="title">Telefon (Mobil)</div>
        <div class="value">
          <input
            class="phone_prefix"
            placeholder="+373"
            readonly
            tabindex="-1"
          />
          <input
            matInput
            formControlName="phone"
            class="phone_number"
            [autofocus]="true"
          />
        </div>
      </div>

      <div class="field landline" fxFlex fxLayout="column">
        <div class="title">Telefon (Fix)</div>
        <div class="value">
          <input
            class="phone_prefix"
            placeholder="022"
            readonly
            tabindex="-1"
          />
          <input matInput formControlName="landline" class="phone_number" />
        </div>
      </div>
    </div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Nume (Familie)</div>
        <div class="value">
          <input matInput style="width: 190px" formControlName="last_name" />
        </div>
      </div>
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Prenume</div>
        <div class="value">
          <input matInput style="width: 190px" formControlName="first_name" />
        </div>
      </div>
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Vîrsta</div>
        <div class="value">
          <input
            type="number"
            matInput
            style="width: 70px"
            formControlName="age"
            placeholder="65"
          />
        </div>
      </div>
    </div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Sector</div>
        <div class="value">
          <mat-select
            formControlName="zone"
            style="width: 230px"
            placeholder="Alege"
          >
            <mat-option *ngFor="let zone of zones" [value]="zone">
              {{ zone | translate }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Adresă</div>
        <div class="value">
          <input matInput formControlName="address" style="width: 230px" />
        </div>
      </div>

      <div class="field" fxFlex fxLayout="column">
        <div class="title">Scară</div>
        <div class="value">
          <input matInput formControlName="entrance" style="width: 70px" />
        </div>
      </div>
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Etaj</div>
        <div class="value">
          <input matInput formControlName="floor" style="width: 70px" />
        </div>
      </div>
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Apartament</div>
        <div class="value">
          <input matInput formControlName="apartment" style="width: 70px" />
        </div>
      </div>
    </div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Condiții speciale</div>
        <div class="value">
          <mat-select
            formControlName="special_condition"
            style="width: 230px"
            placeholder="Alege"
          >
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let condition of specialConditions"
              [value]="condition"
            >
              {{ condition | translate }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <button mat-flat-button type="submit" color="primary">Crează</button>
  </div>
</form>
