<h2 class="mt-5 mb-2">Cereri</h2>

<div class="mb-4 d-flex flex-column flex-sm-row flex-wrap">
  <button
    mat-flat-button
    type="button"
    color="default"
    disabled
    class="mb-1 mr-sm-2"
  >
    <mat-icon>publish</mat-icon>
    Import
  </button>

  <button
    mat-flat-button
    type="button"
    color="default"
    (click)="onExport()"
    class="mb-1 mr-sm-2"
  >
    <mat-icon>get_app</mat-icon>
    Export
  </button>

  <button
    mat-flat-button
    type="button"
    color="primary"
    (click)="openNewRequestDialog()"
    class="mb-1 ml-sm-auto"
  >
    <mat-icon>add</mat-icon>
    New Request
  </button>
</div>

<app-filter
  [inputColumns]="inputColumns"
  [observableSelectColumns]="observableSelectColumns"
  [selectColumns]="selectColumns"
  (queryResult)="queryResult($event)"
></app-filter>

<mat-expansion-panel hideToggle class="map-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title class="d-flex justify-content-center">
      <mat-icon>map</mat-icon>
      <span class="ml-1">Hartă</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-demands-map></app-demands-map>
</mat-expansion-panel>

<mat-tab-group
  [selectedIndex]="selectedTabIndex$ | async"
  mat-stretch-tabs
  class="selected-tab-{{ selectedTab }}"
  (selectedTabChange)="onTabChanged($event)"
  #tabGroup
  [disableRipple]="true"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <span
        matBadge="{{ (allStatusesCounts$ | async)[0] }}"
        matBadgeOverlap="false"
        class="primary"
      >
        All requests
      </span>
    </ng-template>
  </mat-tab>

  <mat-tab *ngFor="let status of allStatuses; let i = index" [label]="status">
    <ng-template mat-tab-label>
      <span
        matBadge="{{ (allStatusesCounts$ | async)[i + 1] }}"
        matBadgeOverlap="false"
        ngClass="{{ status._id }}"
      >
        {{ status.label }}
      </span>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<mat-card>
  <table mat-table [dataSource]="dataSource$ | async">
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.black_list"
          matTooltip="Black List"
          class="blacklist"
        ></span>
        <mat-chip-list>
          <mat-chip
            *ngIf="element.have_money"
            [matTooltip]="'Has money'"
            class="money"
          >
            <mat-icon>monetization_on</mat-icon>
          </mat-chip>
          <mat-chip
            *ngIf="element.has_disabilities"
            [matTooltip]="'Has disabilities'"
            class="disabilities"
          >
            <mat-icon>accessible</mat-icon>
          </mat-chip>
          <mat-chip
            *ngIf="element.has_symptoms"
            [matTooltip]="'Has symtoms'"
            class="symptoms"
          >
            <mat-icon>face</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nume</th>
      <td mat-cell *matCellDef="let element">
        {{ element.first_name }} {{ element.last_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefon</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>phone_in_talk</mat-icon>
        {{ element.phone | mask: "00 000 000" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sector">
      <th mat-header-cell *matHeaderCellDef>Sector</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>location_on</mat-icon>
        {{ element.zone_address | translate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef>Adaugat</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>today</mat-icon>
        {{ element.created_at | date: "d MMM" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fixer">
      <th mat-header-cell *matHeaderCellDef>Fixer</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>settings</mat-icon>
        <ng-container *ngIf="element.fixer === 'None'; else getFixer">
          {{ element.fixer }}
        </ng-container>
        <ng-template #getFixer>
          <ng-container *ngIf="operatorById$(element.fixer) | async as fixer">
            {{ fixer.first_name }} {{ fixer.last_name }}
          </ng-container>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element" class="{{ element.status }}">
        <mat-chip>{{ getStatusLabel(element.status) }}</mat-chip>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="availableHours">
      <th mat-header-cell *matHeaderCellDef>Ore pe zi</th>
      <td mat-cell *matCellDef="let element">{{ element.available_hours }}</td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="clickable-row"
      [ngClass]="{
        cancelled: getStatusLabel(row.status) === 'Cancelled',
        blacklist: row.black_list === true
      }"
      [routerLink]="['/admin/requests/details', row._id]"
    ></tr>
  </table>

  <div class="loading-shade" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-footer class="m-0">
    <mat-paginator
      (page)="onPageChange($event)"
      [length]="count$ | async"
      [pageSizeOptions]="[20, 50, 100]"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>

<div #empty></div>
