input {
  border: 0px;
  width: 170px;
  height: 40px;
  box-sizing: border-box;
  padding: 15px;
  color: #282828;
  outline: none;
}

.address {
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  width: 230px;
}

.icon {
  padding: 5px;
  padding-bottom: 10px;
}

.btn {
  width: 25px;
  height: 25px;
}
