<div class="address">
  <input
    matInput
    [(ngModel)]="selectedAddress"
    (change)="selectAddress($event)"
  />
  <mat-icon
    *ngIf="selectedAddress.length > 0; else incorrect"
    style="width: 17px"
    [svgIcon]="'correct'"
    class="icon"
  ></mat-icon>
  <ng-template #incorrect>
    <mat-icon
      class="icon"
      [svgIcon]="'incorrect'"
      style="width: 16px"
    ></mat-icon>
  </ng-template>
  <button
    class="icon"
    (click)="showMapDialog()"
    style="background-color: white; border: 0px; width: 24px"
  >
    <mat-icon [svgIcon]="'map'"></mat-icon>
  </button>
</div>
