<div class="mb-25">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex>
      <h1 class="mb-0 mt-0">Beneficiari</h1>
    </div>
    <div fxFlex fxLayoutAlign="end">
      <button
        mat-flat-button
        type="button"
        color="primary"
        (click)="openNewBeneficiaryDialog()"
      >
        <mat-icon>add</mat-icon>
        Nou beneficiar
      </button>
    </div>
  </div>
</div>

<mat-tab-group mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      Toți
      <span class="badge-counter">{{ count$ | async }}</span>
    </ng-template>

    <mat-grid-list
      *ngFor="let user of dataSource$ | async"
      cols="6"
      rowHeight="62px"
    >
      <mat-grid-tile>
        <!-- Condiții speciale -->
      </mat-grid-tile>
      <mat-grid-tile class="user-name">
        {{ user.last_name }} {{ user.first_name }}
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon>phone</mat-icon>
        {{ user.landline }}
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon>room</mat-icon>
        {{ user.zone | zoneTitle }}
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon>history</mat-icon>
        {{ user.created_at | date }}
      </mat-grid-tile>
      <mat-grid-tile>
        <a
          mat-stroked-button
          [routerLink]="['/admin/beneficiaries/details', user._id]"
        >
          Detalii
        </a>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator
      (page)="onPageChange($event)"
      [length]="count$ | async"
      [pageSizeOptions]="[20, 50, 100]"
    ></mat-paginator>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Blocați
      <span class="badge-counter">20</span>
    </ng-template>

    Block list
  </mat-tab>
</mat-tab-group>
