.badge-counter {
  padding: 4px;

  border-radius: 12px;
  margin: 0 5px;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  background: #edebe9;
  color: #a19f9d;
}

.mat-tab-label.mat-tab-label-active {
  .badge-counter {
    background: #e6ecff;
    color: #3f51b5;
  }
}

mat-grid-list {
  font-size: 14px;

  mat-icon {
    width: 14px;
    height: 14px;
    font-size: 14px;
  }

  .mat-grid-tile.user-name {
    .mat-figure {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
