h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  color: #323130;
  margin-top: 60px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.b-list {
  margin-top: 10px;
}

.badge-counter {
  padding: 4px;

  border-radius: 12px;
  margin: 0 5px;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  background: #edebe9;
  color: #a19f9d;
}

.mat-tab-label.mat-tab-label-active {
  .badge-counter {
    background: #e6ecff;
    color: #3f51b5;
  }
}
