<div class="mb-25">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex fxLayout="row">
      <h1 class="mb-0 mt-0 mr-10">Beneficiars</h1>
      <button mat-icon-button (click)="fetchRequests()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
    <div fxFlex fxLayoutAlign="end">
      <a routerLink="/admin/requests/new" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> New Beneficiar
      </a>
    </div>
  </div>

</div>

<app-filter [inputColumns]="inputColumns" [observableSelectColumns]="observableSelectColumns"
  [selectColumns]="selectColumns" (queryResult)="queryResult($event)">
</app-filter>

<mat-card>

  <table mat-table [dataSource]="dataSource$ | async">
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.black_list" matTooltip="Black List" class="blacklist"></span>
        <mat-icon *ngIf="!element.have_money" [matTooltip]="'No money'">money_off</mat-icon>
        <mat-icon *ngIf="element.has_disabilities" [matTooltip]="'Has disabilities'">accessible</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nume</th>
      <td mat-cell *matCellDef="let element">
        {{ element.first_name }} {{ element.last_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefon</th>
      <td mat-cell *matCellDef="let element">{{ element.phone | mask: '00 000 000' }}</td>
    </ng-container>

    <ng-container matColumnDef="sector">
      <th mat-header-cell *matHeaderCellDef>Sector</th>
      <td mat-cell *matCellDef="let element">
        {{ (zoneById$(element.zone_address) | async)?.ro }}
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>Oras</th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element" class="{{element.status}}">
        {{ getStatusLabel(element.status) }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="availableHours">
      <th mat-header-cell *matHeaderCellDef>Ore pe zi</th>
      <td mat-cell *matCellDef="let element">{{ element.available_hours }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="clickable-row"
      [ngClass]="{cancelled: getStatusLabel(row.status) === 'Cancelled'}"
      [routerLink]="['/admin/requests/details', row._id]"></tr>
  </table>

  <div class="loading-shade" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-footer>
    <mat-paginator (page)="onPageChange($event)" [length]="count$ | async" [pageSizeOptions]="[20, 50, 100]">
    </mat-paginator>
  </mat-card-footer>
</mat-card>
