<mat-card-title fxLayoutGap="15px" fxLayoutAlign="space-between center">
  <span>{{ volunteer.first_name }} {{volunteer.last_name}}</span>
  <a [routerLink]="['/volunteers/details', volunteer._id]" mat-icon-button (click)="closeDialog()">
    <mat-icon>edit</mat-icon>
  </a>
</mat-card-title>
<!-- <mat-card-subtitle>{{volunteer.email}}</mat-card-subtitle> -->
<mat-card-content>
  <mat-divider></mat-divider>
  <p><strong>First Name</strong>: {{volunteer.first_name}}</p>
  <p><strong>Last Name</strong>: {{volunteer.last_name}}</p>
  <p><strong>Email</strong>: {{volunteer.email}}</p>
  <p><strong>Phone</strong>: {{volunteer.phone}}</p>
  <!-- <p><strong>Distance</strong>: {{volunteer.distance}}</p> -->
  <mat-divider></mat-divider>
  <h3>Activity Types</h3>
  <p *ngFor="let activity of activityTypes$ | async">{{activity.ro}}</p>
</mat-card-content>
