<mat-expansion-panel hideToggle class="shadow-none">
  <mat-expansion-panel-header>
    <mat-panel-title class="d-flex justify-content-center">
      <mat-icon>map</mat-icon>
      <span class="ml-1">Map</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mx-n4 mb-n3">
    <div class="row no-gutters bg-white mat-typography" style="height: 500px">
      <div class="col-8">
        <app-demands-map-0-points
          [demands]="mapDemands"
          (demandClick)="mapDemandClick($event)"
          [centerZone]="centerZoneObservable"
        ></app-demands-map-0-points>
      </div>
      <div class="col-4" [ngSwitch]="currentStep">
        <app-demands-map-1-selected
          *ngSwitchCase="DemandAssignStep.selectDemands"
          (nextClick)="currentStep = DemandAssignStep.selectVolunteer"
          [selectedDemands]="selectedDemands"
          (demandClick)="selectedDemandClick($event)"
          (filterChange)="demandFilterChange($event)"
        ></app-demands-map-1-selected>

        <app-demands-map-2-volunteer
          *ngSwitchCase="DemandAssignStep.selectVolunteer"
          (nextClick)="assignVolunteer()"
          (backClick)="currentStep = DemandAssignStep.selectDemands"
          [volunteers]="filteredVolunteers"
          [selectedVolunteer]="selectedVolunteer"
          (volunteerClick)="volunteerClick($event)"
          (searchChange)="volunteerSearchChange($event)"
          (dateChange)="volunteerDateChange($event)"
        ></app-demands-map-2-volunteer>

        <app-demands-map-3-complete
          *ngSwitchCase="DemandAssignStep.complete"
          (nextClick)="restartAssignment()"
          [cluster]="cluster"
          [volunteer]="selectedVolunteer"
        ></app-demands-map-3-complete>
      </div>
    </div>
  </div>
</mat-expansion-panel>
