@import "../colors";

$green: #23b67a;
$blue: #1fa8df;
$cyan: $default-button-color;
$body-color: #424242;

$headings-font-weight: 700;

$spacers: (
  6: 4rem,
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
);

$font-family-base: Roboto, #{$font-family-sans-serif};
