<mat-toolbar class="mat-elevation-z6 app-navbar">
  <div class="header-logo">
    <span class="logo"></span>
    <button
      color="primary"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="onDrawerClick()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </div>
  <div class="toolbar-spacer"></div>
  <div class="user-nav">
    <button
      mat-icon-button
      [disabled]="!(newRequest$ | async)"
      [matTooltip]="(newRequest$ | async) ? 'New Request' : null"
      aria-label="Notifications">
      <mat-icon [matBadge]="(newRequest$ | async) ? '!' : null" matBadgeColor="primary">notification_important</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_box</mat-icon>
      <span class="user-name">{{ userName$ | async }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
