@import "../../../styles/colors";

.mat-toolbar {
  height: 72px;
  font-size: 16px;
  background: $color-grays-white;
  border-bottom: 1px solid $color-border-divider;

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: $color-grays-white;
}

.user-name {
  margin-left: 5px;
  text-transform: none;
  font-size: 14px;
  @media (max-width: 640px) {
    display: none;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.logo {
  display: block;
  background: url(/assets/logo.png) 0 center no-repeat;
  background-size: cover;
  width: 145px;
  height: 50px;
}

.header-logo {
  width: 234px;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding: 10px 10px 10px 0;
  align-items: center;
  @media (max-width: 768px) {
    width: 110px;
  }
}

.mat-nav-list {
  display: flex;

  height: calc(100% - 1px);

  padding-top: 0;

  .mat-list-item {
    height: 100%;
    
    margin-right: 12px;

    font-size: 14px;
    font-weight: normal;

    &.active {
      color: $color-theme-base;

      border-bottom: 2px solid $color-theme-base;
    }

    &:hover,
    &:focus {
      background-color: $color-grays-white;
    }
  }
}