.search-filter {
  padding: 8px;
  box-shadow: none;
  display: flex;

  input,
  mat-select {
    flex-grow: 1;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  mat-select {
    max-width: 150px;
  }

  input {
    font-size: 14px;
  }

  button {
    box-shadow: none !important;
    border-radius: 0 !important;
    width: 36px;
    height: 36px;

    ::ng-deep .mat-button-wrapper {
      line-height: 20px;
    }

    mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }
}
