<div fxLayoutAlign="space-between center" class="mt-5 mb-2">
  <h2>Utilizatori</h2>
  <button
    mat-flat-button
    type="button"
    color="primary"
    (click)="openNewUserDialog()"
  >
    <mat-icon>add</mat-icon>
    Nou user
  </button>
</div>

<nav mat-tab-nav-bar class="bg-white">
  <a
    mat-tab-link
    *ngFor="let tab of tabs"
    (click)="onTabChange(tab)"
    [active]="activeTab === tab"
  >
    {{ tab.label }}
    <app-badge class="ml-2 small" [class.light-blue]="activeTab === tab">
      {{ tab.count }}
    </app-badge>
  </a>
</nav>

<div class="position-relative">
  <div class="table-responsive">
    <table
      mat-table
      [dataSource]="dataSource"
      *ngIf="(isLoading$ | async) === false"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nume</th>
        <td mat-cell *matCellDef="let element">
          {{ cast(element).first_name }} {{ cast(element).last_name }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">
          <a
            mat-button
            *ngIf="cast(element).phone"
            class="pl-3 ml-n3"
            href="tel:+373{{ cast(element).phone }}"
          >
            +373{{ cast(element).phone }}
          </a>
          <ng-container *ngIf="!cast(element).phone">
            No phone number
          </ng-container>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">
          <a
            mat-button
            class="pl-3 ml-n3"
            href="mailto:{{ cast(element).email }}"
            *ngIf="cast(element).email"
          >
            {{ cast(element).email }}
          </a>
          <ng-container *ngIf="!cast(element).email">No email</ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">
          <app-badge
            [class]="{
              red: cast(element).roles[0] === UserRole.administrator,
              blue: cast(element).roles[0] === UserRole.coordinator,
              green: cast(element).roles[0] === UserRole.operator
            }"
          >
            {{ cast(element).roles[0] }}
          </app-badge>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="text-right">
          <a mat-stroked-button [routerLink]="cast(element)._id">
            {{ "details" | translate }}
          </a>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div
      *ngIf="dataSource.data.length === 0 && (isLoading$ | async) === false"
      style="min-height: 144px"
      class="bg-white p-5 d-flex align-items-center justify-content-center"
    >
      {{ "no_users" | translate }}
    </div>
  </div>

  <div
    class="loading-shade"
    style="min-height: 144px"
    *ngIf="isLoading$ | async"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-paginator
  [style]="{ 'margin-top': (isLoading$ | async) ? '150px' : 'initial' }"
  [length]="page.length"
  [pageSize]="perPage"
  [pageSizeOptions]="perPageOptions"
  (page)="onPageChange($event)"
></mat-paginator>
