<app-admin-page-header
  *ngIf="volunteer$ | async as volunteer"
  title="view_volunteer"
  editLink="edit"
></app-admin-page-header>

<div
  class="bg-white p-4 mat-typography"
  *ngIf="volunteer$ | async as volunteer"
>
  <h4>
    <strong translate>personal_data</strong>
  </h4>

  <div class="row">
    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.first_name }} {{ volunteer.last_name }}"
      label="name"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{
        volunteer.phone ? '+ (373) ' + volunteer.phone : 'No phone number'
      }}"
      label="phone"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.email }}"
      label="email"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.zone | translate }}"
      label="zone"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.address }}"
      label="address"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.age }}"
      label="age"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer._id }}"
      label="{{ 'id' | translate }} {{ 'volunteer' | translate }}"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.facebook_profile }}"
      label="social_media_profile"
    ></app-read-only-input>

    <!--    TODO: add legitimație here-->
    <!--    <app-read-only-input-->
    <!--      class="col-sm-6 col-lg-4"-->
    <!--      value="{{ volunteer.access }}"-->
    <!--      label="access"-->
    <!--    ></app-read-only-input>-->

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.created_at }}"
      label="created_at"
    ></app-read-only-input>
  </div>

  <mat-divider class="my-4"></mat-divider>

  <div class="row">
    <div class="col-lg-6 mb-3">
      <h4>
        <strong translate>volunteer_role</strong>
      </h4>
      <app-volunteer-role
        [role]="volunteer.role[0]"
        [showLabel]="true"
      ></app-volunteer-role>
    </div>

    <div class="col-lg-6 mb-3">
      <h4>
        <strong translate>availability</strong>
      </h4>
      <div class="row">
        <app-read-only-input
          class="col-md-6"
          value="{{ getAvailabilityDays(volunteer) }}"
          label="days"
        ></app-read-only-input>

        <app-read-only-input
          class="col-md-6"
          value="{{ getTimeRange(volunteer) }}"
          label="hours"
        ></app-read-only-input>
      </div>
    </div>
  </div>
</div>

<div class="secondary-title">
  Istoric Cereri
  <span class="count">({{ demandsCount$ | async }})</span>
</div>
<mat-accordion multi displayMode="flat">
  <mat-expansion-panel
    *ngFor="let req of demandsData$ | async"
    displayMode="flat"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="number" style="width: 100px">#{{ req.number }}</div>
        <div class="type" style="width: 300px">
          <app-demand-type [type]="req.type"></app-demand-type>
        </div>
        <div class="date" style="width: 200px">
          <mat-icon>event</mat-icon>
          {{ req.created_at | prettyDate }}
        </div>
        <div class="status" style="width: 170px">
          <app-demand-status [status]="req.status"></app-demand-status>
        </div>
        <div class="volunteer" style="width: 183px">
          <span *ngIf="req.volunteer">
            <mat-icon>perm_identity</mat-icon>
            {{ req.volunteer.last_name }} {{ req.volunteer.first_name }}
          </span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    {{ req.comments }}
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  (page)="onPageChange($event)"
  [length]="demandsCount$ | async"
  [pageSizeOptions]="[20, 50, 100]"
></mat-paginator>
