<app-admin-page-header
  *ngIf="volunteer"
  title="view_volunteer"
  editLink="edit"
></app-admin-page-header>

<div class="bg-white p-4 mat-typography" *ngIf="volunteer">
  <h4 class="d-flex justify-content-between">
    <strong translate>personal_data</strong>
    <span class="ml-auto">
      <span *ngIf="volunteer.status === VolunteerStatus.inactive">
        {{ "inactive" | translate }}
      </span>
      <span *ngIf="volunteer.status === VolunteerStatus.active">
        {{ "active" | translate }}
      </span>
      <mat-slide-toggle
        class="pl-3"
        [checked]="volunteer.status === VolunteerStatus.active"
        disabled
      ></mat-slide-toggle>
    </span>
  </h4>

  <div class="row">
    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.first_name }} {{ volunteer.last_name }}"
      label="name"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{
        volunteer.phone ? '+ (373) ' + volunteer.phone : 'No phone number'
      }}"
      label="phone"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.email }}"
      label="email"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.zone | translate }}"
      label="zone"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.address }}"
      label="address"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.age }}"
      label="age"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer._id }}"
      label="{{ 'id' | translate }} {{ 'volunteer' | translate }}"
    ></app-read-only-input>

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.facebook_profile }}"
      label="social_media_profile"
    ></app-read-only-input>

    <!--    TODO: add legitimație here-->
    <!--    <app-read-only-input-->
    <!--      class="col-sm-6 col-lg-4"-->
    <!--      value="{{ volunteer.access }}"-->
    <!--      label="access"-->
    <!--    ></app-read-only-input>-->

    <app-read-only-input
      class="col-sm-6 col-lg-4"
      value="{{ volunteer.created_at }}"
      label="created_at"
    ></app-read-only-input>
  </div>

  <mat-divider class="my-4"></mat-divider>

  <div class="row">
    <div class="col-lg-6 mb-3">
      <h4>
        <strong translate>volunteer_role</strong>
      </h4>
      <app-volunteer-role
        [role]="volunteer.role[0]"
        [showLabel]="true"
      ></app-volunteer-role>
    </div>

    <div class="col-lg-6 mb-3">
      <h4>
        <strong translate>availability</strong>
      </h4>
      <div class="row">
        <app-read-only-input
          class="col-md-6"
          value="{{ getAvailabilityDays(volunteer) }}"
          label="days"
        ></app-read-only-input>

        <app-read-only-input
          class="col-md-6"
          value="{{ getTimeRange(volunteer) }}"
          label="hours"
        ></app-read-only-input>
      </div>
    </div>
  </div>
</div>

<app-demands-history
  [demands]="demandsData$ | async"
  [show]="'beneficiary'"
  (page)="loadDemands($event)"
></app-demands-history>
