<div class="modal_header_line" fxLayout="row" fxLayoutAlign="center center">
  <a>Crează Cerere Nouă</a>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="detalii" fxLayout="row" fxLayoutAlign="left center">
    <a>Detalii Beneficiar</a>
  </div>

  <div style="border-bottom: 1px solid #ccc">
    <div class="line-label" fxLayout="row" fxLayoutAlign="left center">
      <a>Telefon (Mobil)</a>
      <a fxFlexOffset="35">Telefon (Fix)</a>
    </div>
    <div class="line-inputs" fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field appearance="outline">
        <input matInput type="tel" formControlName="mobile" />
      </mat-form-field>
      <mat-form-field fxFlexOffset="15" appearance="outline" formControlName="landline">
        <input matInput type="tel" />
      </mat-form-field>
    </div>

    <div class="line-label" fxLayout="row" fxLayoutAlign="left center">
      <a>Nume (Familie)</a>
      <a fxFlexOffset="30">Prenume</a>
      <a fxFlexOffset="30">Virsta</a>
    </div>
    <div class="line-inputs" fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field appearance="outline">
        <input matInput formControlName="last_name" />
      </mat-form-field>
      <mat-form-field fxFlexOffset="15" appearance="outline">
        <input matInput formControlName="first_name" />
      </mat-form-field>
      <mat-form-field fxFlexOffset="15" appearance="outline">
        <input matInput formControlName="age" />
      </mat-form-field>
    </div>

    <div class="line-label" fxLayout="row" fxLayoutAlign="left center">
      <a>Sectorul</a>
    </div>
    <div class="line-inputs" fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field appearance="outline">
        <mat-select formControlName="zone">
          <mat-option *ngFor="let sec of zones" [value]="sec">
            {{ sec.charAt(0).toUpperCase() + sec.slice(1) }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('zone').invalid && form.get('zone').touched">
          'atenție, eroare - cîmp obligatoriu!'
        </mat-error>
      </mat-form-field>
    </div>

    <div class="line-label" fxLayout="row" fxLayoutAlign="left center">
      <a>Adresa</a>
      <a fxFlexOffset="14">Scara</a>
      <a fxFlexOffset="14">Etaj</a>
      <a fxFlexOffset="14">Apartament</a>
    </div>
    <div class="line-inputs" fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field appearance="outline">
        <input matInput />
      </mat-form-field>
      <mat-form-field fxFlexOffset="15" appearance="outline">
        <input matInput />
      </mat-form-field>
      <mat-form-field fxFlexOffset="15" appearance="outline">
        <input matInput />
      </mat-form-field>
      <mat-form-field fxFlexOffset="15" appearance="outline">
        <input matInput />
      </mat-form-field>
    </div>

    <div class="line-label" fxLayout="row" fxLayoutAlign="left center">
      <a>Conditii speciale</a>
    </div>
    <div class="line-inputs" fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field appearance="outline">
        <mat-select formControlName="special_conditions" placeholder="Alege">
          <mat-option *ngFor="let condition of specialConditions" [value]="condition">
            <!-- <img src="/assets/icons/volunteers/{{ volunteerRolesIncons[role.key] }}.svg" width="24" height="24" /> -->
            {{ condition }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('special_conditions').invalid && form.get('special_conditions').touched">
          'atenție, eroare - cîmp obligatoriu!'
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="detalii" fxLayout="row" fxLayoutAlign="left center">
    <a>Detalii Cerere</a>
  </div>

  <div style="border-bottom: 1px solid #ccc">
    <div class="line-label" fxLayout="row" fxLayoutAlign="left center">
      <a>Are nevoie de</a>
      <a fxFlexOffset="14">Boala contagioasa</a>
    </div>

    <div class="line-inputs" fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field appearance="outline">
        <mat-select formControlName="need">
          <mat-option *ngFor="let need of needs" [value]="need">
            <!-- <img src="/assets/icons/volunteers/{{ volunteerRolesIncons[role.key] }}.svg" width="24" height="24" /> -->
            {{ need }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('need').invalid && form.get('need').touched">
          'atenție, eroare - cîmp obligatoriu!'
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select formControlName="ilness">
          <mat-option *ngFor="let option of ilnessOptions" [value]="option">
            <!-- <img src="/assets/icons/volunteers/{{ volunteerRolesIncons[role.key] }}.svg" width="24" height="24" /> -->
            {{ option }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('ilness').invalid && form.get('ilness').touched">
          'atenție, eroare - cîmp obligatoriu!'
        </mat-error>
      </mat-form-field>
    </div>

    <div class="line-label" fxLayout="row" fxLayoutAlign="left center">
      <a>Comentarii operator</a>
    </div>

    <div class="line-inputs" fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field appearance="outline">
        <input matInput />
      </mat-form-field>
    </div>

    <div class="line-label" fxLayout="row" fxLayoutAlign="left center">
      <a>Parola secreta</a>
    </div>

    <div class="line-inputs" fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field appearance="fill">
        <input matInput />
      </mat-form-field>

      <mat-slide-toggle>Urgent?</mat-slide-toggle>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button color="primary" type="submit">Crează</button>
  </div>
</form>
