<div class="modal_header_line" fxLayout="row" fxLayoutAlign="center center">
  <a>Crează Cerere Nouă</a>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="content" formGroupName="beneficiary">
    <div class="fieldset">Detalii Beneficiar</div>

    <div class="fields_row" id="telephone">
      <div class="field mobile" fxFlex fxLayout="column">
        <div class="title">Telefon (Mobil)</div>
        <div class="value">
          <input
            class="phone_prefix"
            placeholder="+373"
            readonly
            tabindex="-1"
          />
          <input
            matInput
            formControlName="phone"
            class="phone_number"
            [autofocus]="true"
            (change)="checkForExistentBeneficiary($event.target.value)"
          />
          <mat-error
            *ngIf="form.get('beneficiary.phone').invalid && form.touched"
          >
            'atenție, eroare - cîmp de 8 cifre obligatoriu!'
          </mat-error>
        </div>
      </div>

      <div class="field landline" fxFlex fxLayout="column">
        <div class="title">Telefon (Fix)</div>
        <div class="value">
          <input
            class="phone_prefix"
            placeholder="022"
            readonly
            tabindex="-1"
          />
          <input matInput formControlName="landline" class="phone_number" />
          <mat-error
            *ngIf="form.get('beneficiary.landline').invalid && form.touched"
          >
            'atenție, eroare - cîmp de 6 cifre obligatoriu!'
          </mat-error>
        </div>
      </div>
    </div>

    <div
      style="margin-bottom: 23px"
      *ngIf="isEmpty(existentBeneficiary); else beneficiaryExists"
    ></div>

    <ng-template #beneficiaryExists>
      <div class="arrow"></div>

      <div class="beneficiary">
        <div
          class="field"
          fxFlex
          fxLayout="column"
          (click)="updateDataFromBeneficiary()"
        >
          <div class="title">Beneficiar existent</div>
          <div class="value">
            {{ beneficiaryName }}
          </div>
        </div>
      </div>
    </ng-template>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Nume (Familie)</div>
        <div class="value">
          <input matInput style="width: 185px" formControlName="last_name" />
          <mat-error
            *ngIf="form.get('beneficiary.last_name').invalid && form.touched"
          >
            atenție, eroare - cîmp obligatoriu!
          </mat-error>
        </div>
      </div>

      <div class="field" fxFlex fxLayout="column">
        <div class="title">Prenume</div>
        <div class="value">
          <input matInput style="width: 185px" formControlName="first_name" />
          <mat-error
            *ngIf="form.get('beneficiary.first_name').invalid && form.touched"
          >
            atenție, eroare - cîmp obligatoriu!
          </mat-error>
        </div>
      </div>

      <div class="field" fxFlex fxLayout="column">
        <div class="title">Vîrsta</div>
        <div class="value">
          <input
            type="number"
            matInput
            style="width: 70px"
            formControlName="age"
            placeholder="65"
          />
        </div>
      </div>
    </div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Sector</div>
        <div class="value">
          <mat-select
            formControlName="zone"
            style="width: 230px"
            placeholder="Alege"
          >
            <mat-option *ngFor="let sec of zones" [value]="sec">
              {{ sec.charAt(0).toUpperCase() + sec.slice(1) }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="form.get('beneficiary.zone').invalid && form.touched"
          >
            atenție, eroare - cîmp obligatoriu!
          </mat-error>
        </div>
      </div>
    </div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Adresă</div>
        <app-request-address-field
          (gotCoordinates)="updateAddress($event)"
          [selectedAddress]="requestAddress"
        ></app-request-address-field>
        <mat-error
          *ngIf="form.get('beneficiary.address').invalid && form.touched"
        >
          atenție, eroare - cîmp obligatoriu!
        </mat-error>
        <mat-error *ngIf="!validAddress && form.touched">
          atenție, eroare - adresa nu a fost găsită!
        </mat-error>
      </div>

      <div class="field" fxFlex fxLayout="column">
        <div class="title">Scară</div>
        <div class="value">
          <input matInput formControlName="entrance" style="width: 69.53px" />
        </div>
      </div>

      <div class="field" fxFlex fxLayout="column">
        <div class="title">Etaj</div>
        <div class="value">
          <input matInput formControlName="floor" style="width: 69.53px" />
        </div>
      </div>

      <div class="field" fxFlex fxLayout="column">
        <div class="title">Apartament</div>
        <div class="value">
          <input matInput formControlName="apartment" style="width: 69.53px" />
        </div>
      </div>
    </div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Condiții speciale</div>
        <div class="value">
          <mat-select
            formControlName="special_condition"
            style="width: 230px"
            placeholder="Alege"
          >
            <mat-option [value]="'None'">
              <mat-icon></mat-icon>
              Nu are
            </mat-option>
            <mat-option
              *ngFor="let item of specialConditions"
              [value]="item.value"
            >
              <mat-icon [svgIcon]="item.value"></mat-icon>
              {{ item.label }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              form.get('beneficiary.special_condition').invalid && form.touched
            "
          >
            atenție, eroare - cîmp obligatoriu!
          </mat-error>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="fieldset">Detalii Cerere</div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Are nevoie de</div>
        <div class="value">
          <mat-select
            formControlName="type"
            style="width: 230px"
            placeholder="Alege"
          >
            <mat-option
              *ngFor="let need of needs | keyvalue: enumUnsorted"
              [value]="need.key"
            >
              <mat-icon [svgIcon]="need.key"></mat-icon>
              {{ need.value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('type').invalid && form.touched">
            atenție, eroare - cîmp obligatoriu!
          </mat-error>
        </div>
      </div>

      <div class="field" fxFlex fxLayout="column">
        <div class="title">Boală contagioasă</div>
        <div class="value">
          <mat-select
            formControlName="has_symptoms"
            style="width: 230px"
            placeholder="Alege"
          >
            <mat-option [value]="false">
              <mat-icon></mat-icon>
              Nu are
            </mat-option>
            <mat-option [value]="true">
              <mat-icon [svgIcon]="'mask'"></mat-icon>
              Are simptome
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('has_symptoms').invalid && form.touched">
            atenție, eroare - cîmp obligatoriu!
          </mat-error>
        </div>
      </div>
    </div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Comentarii operator</div>
        <div class="value">
          <input
            matInput
            formControlName="comments"
            style="width: 470px"
            placeholder="---"
          />
        </div>
      </div>
    </div>

    <div class="fields_row">
      <div class="field" fxFlex fxLayout="column">
        <div class="title">Parola secretă</div>
        <div class="value">
          <input matInput formControlName="secret" style="width: 150px" />
          <mat-error *ngIf="form.get('secret').invalid && form.touched">
            atenție, parola greșită!
          </mat-error>
        </div>
      </div>

      <div class="field" fxFlex fxLayout="column">
        <div class="slide-toggle" [ngStyle]="getUrgentStyleObject()">
          <mat-slide-toggle formControlName="urgent">Urgent?</mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      type="submit"
    >
      Crează
    </button>
  </div>
</form>
