$fontFamily: Roboto, sans-serif;

$modalWindowWidth: 568px;
$modalWindowHeight: 1053px;

::ng-deep .newrequest-custom-modalbox {
  .mat-dialog-container {
    width: $modalWindowWidth;
    height: $modalWindowHeight;
    padding: 0px !important;
    background: #ffffff;
  }
}

.modal_header_line {
  height: 60px;
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;

  & a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
  }
}

.content {
  border-bottom: 1px solid #dedede;
  padding-left: 41px;
  padding-right: 40px;
  padding-top: 23px;
  padding-bottom: 0px;

  .beneficiary {
    margin-bottom: 23px;
    width: 230px;
    height: 61px;
    border: 2px solid #3cd278;
    border-radius: 4px;

    .field {
      padding-left: 13px;
      padding-top: 6px;

      .title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
        color: #39c06f;
        margin-bottom: 5px;
      }

      .value {
        padding-top: 7px;
        padding-left: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        background: #f7f7f7;
        width: 202px;
        height: 27px;
        border-radius: 4px;
      }
    }
  }

  input,
  select {
    height: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 15px;
    color: #282828;
    outline: none;
  }

  select {
    padding: 0;
  }

  mat-select {
    height: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    line-height: 40px;
    text-align: left;
    padding-left: 5px;
  }

  .fieldset {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    color: #282828;
    margin-bottom: 24px;
  }

  .fields_row {
    margin-bottom: 23px;
  }

  .field:not(:last-child) {
    margin-right: 10px;
  }

  .fields_row#telephone {
    margin-bottom: 0px;
  }

  .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #a9a6a6;
    margin-bottom: 10px;
  }

  .phone_prefix {
    width: 70px;
    border-right: none;
  }

  .phone_number {
    width: 160px;
  }

  .slide-toggle {
    width: 124px;
    height: 40px;
    margin-top: 21px;
    margin-left: 101px;
    border: 2px solid #e2e2e2;
    padding-top: 5px;
    padding-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }

  .arrow {
    margin-left: 105px;
    width: 0;
    height: 0;
    border-left: 7.87px solid transparent;
    border-right: 7.87px solid transparent;
    border-bottom: 15px solid #39c06f;
  }
}

// NG deep used to modify the slide-toggle component

:host ::ng-deep .mat-slide-toggle {
  display: inline-block !important;
  height: 25px;
  width: 124px;
}

:host ::ng-deep .mat-slide-toggle-content {
  padding-left: 10px;
}

:host ::ng-deep .mat-slide-toggle-bar {
  width: 16.64px;
  height: 6.66px;
  background: #e2e2e2;
  border-radius: 10px;
}

:host ::ng-deep .mat-slide-toggle-thumb {
  width: 11.65px;
  height: 11.65px;
  background: #a6a6a6;
  border: 1px solid #a6a6a6;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #e2e2e2;
  border-radius: 10px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background: #a83030;
  border: 1px solid #a83030;
}

mat-error {
  font-size: 11px !important;
  line-height: 11px !important;
  background-color: white !important;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
}
