<app-admin-page-header
  title="view_user"
  editLink="edit"
></app-admin-page-header>

<div class="bg-white p-4 mat-typography">
  <ng-container *ngIf="user$ | async as user">
    <h4>
      <strong translate>personal_data</strong>
    </h4>

    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <mat-form-field
          floatLabel="always"
          appearance="standard"
          class="d-block mat-form-field-no-underline"
        >
          <mat-label translate>family_name</mat-label>
          <input
            matInput
            readonly
            value="{{ user.first_name }} {{ user.last_name }}"
            title=""
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4">
        <mat-form-field
          floatLabel="always"
          appearance="standard"
          class="d-block mat-form-field-no-underline"
        >
          <mat-label translate>phone</mat-label>
          <input
            matInput
            readonly
            value="{{ user.phone ? user.phone : 'No phone number' }}"
            title=""
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4">
        <mat-form-field
          floatLabel="always"
          appearance="standard"
          class="d-block mat-form-field-no-underline"
        >
          <mat-label translate>created_at</mat-label>
          <input matInput readonly value="{{ user.created_at }}" title="" />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4">
        <mat-form-field
          floatLabel="always"
          appearance="standard"
          class="d-block mat-form-field-no-underline"
        >
          <mat-label translate>email</mat-label>
          <input matInput readonly value="{{ user.email }}" title="" />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4">
        <mat-form-field
          floatLabel="always"
          appearance="standard"
          class="d-block mat-form-field-no-underline"
        >
          <mat-label translate>password</mat-label>
          <input
            matInput
            readonly
            value="***********"
            type="password"
            title=""
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4">
        <mat-form-field
          floatLabel="always"
          appearance="standard"
          class="d-block mat-form-field-no-underline"
        >
          <mat-label translate>user_id</mat-label>
          <input matInput readonly value="{{ user._id }}" title="" />
        </mat-form-field>
      </div>
    </div>

    <mat-divider class="my-4"></mat-divider>

    <div class="row">
      <div class="col-lg-6 mb-3">
        <h4>
          <strong translate>user_role</strong>
        </h4>

        <app-badge
          *ngFor="let role of user.roles"
          class="mr-2 mb-2"
          [class]="{
            red: role === UserRole.administrator,
            blue: role === UserRole.coordinator,
            green: role === UserRole.operator
          }"
        >
          {{ role | translate }}
        </app-badge>
      </div>
      <div class="col-lg-6 mb-3">
        <h4>
          <strong translate>availability</strong>
        </h4>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field
              floatLabel="always"
              appearance="standard"
              class="d-block mat-form-field-no-underline"
            >
              <mat-label translate>days</mat-label>
              <input
                matInput
                readonly
                value="{{ getAvailabilityDays(user) }}"
                title="{{ getAvailabilityDays(user) }}"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field
              floatLabel="always"
              appearance="standard"
              class="d-block mat-form-field-no-underline"
            >
              <mat-label translate>hours</mat-label>
              <input matInput readonly [value]="getTimeRange(user)" title="" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="mat-typography mt-4 pb-4">
  <h3>
    <strong translate>demands_history</strong>
  </h3>

  <!-- This accordion is parent for expansion panels from each row -->
  <mat-accordion [multi]="false">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="demand">
          <th mat-header-cell *matHeaderCellDef>Demand</th>
          <td mat-cell *matCellDef="let element" class="px-0">
            <mat-expansion-panel class="shadow-none">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="d-flex">
                    <small
                      class="text-truncate text-secondary mx-3"
                      style="width: 60px"
                      title="{{ cast(element)._id }}"
                    >
                      {{ cast(element)._id }}
                    </small>
                    <span class="mx-3 text-truncate" style="width: 125px">
                      {{ cast(element).beneficiary.first_name }}
                      {{ cast(element).beneficiary.last_name }}
                    </span>
                    <span class="mx-3">
                      +373{{ cast(element).beneficiary.phone }}
                    </span>
                    <span class="mx-3" style="width: 100px">
                      {{ cast(element).beneficiary.zone | translate }}
                    </span>
                    <span class="mx-3">
                      {{ cast(element).created_at | prettyDate }}
                    </span>
                    <span class="mx-3 text-truncate" style="width: 125px">
                      {{ cast(element).volunteer.first_name }}
                      {{ cast(element).volunteer.last_name }}
                    </span>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              {{ "age" | translate }}: {{ cast(element).beneficiary.age }}
              <mat-divider class="my-2"></mat-divider>
              {{ "comment" | translate }}: {{ cast(element).comments }}
              <mat-divider class="my-2"></mat-divider>
              {{ "type" | translate }}: {{ cast(element).type | translate }}

              <mat-divider class="my-2"></mat-divider>
              {{ "status" | translate }}: {{ cast(element).status | translate }}
              <mat-divider class="my-2"></mat-divider>
              {{ "has_symptoms" | translate }}:
              {{ cast(element).has_symptoms ? "yes" : ("no" | translate) }}
              <mat-divider class="my-2"></mat-divider>
              {{ "urgent" | translate }}:
              {{ cast(element).urgent ? "yes" : ("no" | translate) }}
            </mat-expansion-panel>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="['demand']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['demand']"></tr>
      </table>
      <div
        *ngIf="dataSource.data.length === 0"
        style="min-height: 144px"
        class="bg-white p-5 d-flex align-items-center justify-content-center"
      >
        {{ "no_demands" | translate }}
      </div>
    </div>
  </mat-accordion>

  <mat-paginator
    [length]="page.length"
    [pageSize]="perPage"
    [pageSizeOptions]="perPageOptions"
    (page)="getDemands($event)"
  ></mat-paginator>
</div>
