<form
  [formGroup]="form"
  (ngSubmit)="
    onSubmit(demand ? getDemandNextStatus(demand) : DemandStatus.confirmed)
  "
>
  <h2 mat-dialog-title class="text-center">
    {{ (demand ? "edit_demand" : "create_demand") | translate }}
  </h2>

  <mat-divider class="mx-n4"></mat-divider>

  <mat-dialog-content class="mat-typography py-3">
    <h4>
      <strong translate>beneficiary_details</strong>
    </h4>

    <fieldset *ngIf="selectedBeneficiary">
      <div class="row">
        <div class="col-sm-6">
          <app-read-only-input
            value="{{ selectedBeneficiary.first_name }} {{
              selectedBeneficiary.last_name
            }}"
            label="name"
          ></app-read-only-input>
        </div>
        <div class="col-sm-6">
          <app-read-only-input
            value="{{ selectedBeneficiary.age }}"
            label="age"
          ></app-read-only-input>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-read-only-input
            value="{{ selectedBeneficiary.phone }}"
            label="phone"
          ></app-read-only-input>
        </div>
        <div class="col-sm-6">
          <app-read-only-input
            value="{{ selectedBeneficiary.landline }}"
            label="landline"
          ></app-read-only-input>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-read-only-input
            value="{{ selectedBeneficiary.zone | translate }}"
            label="{{ 'zone' | translate }}"
          ></app-read-only-input>
        </div>
        <div class="col-sm-6">
          <app-read-only-input
            [value]="getFullAddress(selectedBeneficiary)"
            label="address"
          ></app-read-only-input>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-read-only-input
            [value]="
              (selectedBeneficiary.special_condition
                ? selectedBeneficiary.special_condition
                : 'none'
              ) | translate
            "
            label="{{ 'special_condition' | translate }}"
          ></app-read-only-input>
        </div>
      </div>
    </fieldset>

    <fieldset *ngIf="!selectedBeneficiary" formGroupName="beneficiary">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="d-block"
          >
            <mat-label translate>phone</mat-label>
            <input
              matInput
              formControlName="phone"
              title=""
              placeholder="69111111"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              [hidden]="foundBeneficiaries.length === 0"
              (click)="foundBeneficiariesIsOpen = !foundBeneficiariesIsOpen"
            >
              <mat-icon>
                {{
                  foundBeneficiariesIsOpen
                    ? "keyboard_arrow_up"
                    : "keyboard_arrow_down"
                }}
              </mat-icon>
            </button>
            <mat-error translate>eight_digits</mat-error>
          </mat-form-field>
          <div class="position-relative mt-n3 mx-1" style="z-index: 1">
            <div
              *ngIf="foundBeneficiariesIsOpen"
              class="position-absolute w-100 bg-white rounded border border-success p-1"
            >
              <div class="text-success py-1 px-2" translate>
                existing_beneficiaries
              </div>
              <mat-selection-list [multiple]="false" class="pt-0">
                <mat-list-option
                  style="height: auto"
                  class="py-2"
                  *ngFor="let ben of foundBeneficiaries"
                  (click)="selectExistingBeneficiary(ben)"
                >
                  {{ ben.first_name }} {{ ben.last_name }}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="d-block"
          >
            <mat-label translate>landline</mat-label>
            <input
              matInput
              formControlName="landline"
              title=""
              placeholder="22111111"
            />
            <mat-error translate>eight_digits</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="d-block"
          >
            <mat-label translate>family_name</mat-label>
            <input matInput formControlName="first_name" title="" />
            <mat-error translate>required_field</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-5">
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="d-block"
          >
            <mat-label translate>last_name</mat-label>
            <input matInput formControlName="last_name" title="" />
            <mat-error translate>required_field</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="d-block"
          >
            <mat-label translate>age</mat-label>
            <input matInput formControlName="age" type="number" title="" />
            <mat-error translate>required_field</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="d-block">
            <mat-label>{{ "zone" | translate }}</mat-label>
            <mat-select formControlName="zone">
              <mat-option *ngFor="let zone of zones" [value]="zone">
                {{ zone | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('beneficiary.zone').invalid">
              {{ "required_field" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="d-block"
          >
            <mat-label translate>address</mat-label>
            <input matInput formControlName="address" title="" />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="selectAddress()"
            >
              <mat-icon>explore</mat-icon>
            </button>
            <mat-error *ngIf="addressErrors.required" translate>
              required_field
            </mat-error>
            <mat-error
              *ngIf="
                addressErrors.missingCoordinates && !addressErrors.required
              "
              translate
            >
              address_missing_coordinates
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="d-block"
          >
            <mat-label translate>entrance</mat-label>
            <input matInput formControlName="entrance" title="" />
            <mat-error translate>required_field</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="d-block"
          >
            <mat-label translate>floor</mat-label>
            <input matInput formControlName="floor" title="" />
            <mat-error translate>required_field</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="d-block"
          >
            <mat-label translate>apartment</mat-label>
            <input matInput formControlName="apartment" title="" />
            <mat-error translate>required_field</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="d-block">
            <mat-label translate>special_condition</mat-label>
            <mat-select formControlName="special_condition">
              <mat-option value="none">{{ "none" | translate }}</mat-option>
              <mat-option
                *ngFor="let condition of specialConditions"
                [value]="condition"
              >
                {{ condition | translate }}
              </mat-option>
            </mat-select>
            <mat-error translate>required_field</mat-error>
          </mat-form-field>
        </div>
      </div>
    </fieldset>

    <mat-divider class="mx-n4 my-3"></mat-divider>

    <h4>
      <strong translate>demand_details</strong>
    </h4>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label translate>demand_type</mat-label>
          <mat-select formControlName="type">
            <mat-option
              *ngFor="let demandType of demandTypes"
              [value]="demandType"
            >
              {{ demandType | translate }}
            </mat-option>
          </mat-select>
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label translate>symptoms</mat-label>
          <mat-select formControlName="has_symptoms">
            <mat-option [value]="true">
              {{ "has_symptoms" | translate }}
            </mat-option>
            <mat-option [value]="false">
              {{ "has_no_symptoms" | translate }}
            </mat-option>
          </mat-select>
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field floatLabel="always" appearance="outline" class="d-block">
      <mat-label translate>comments</mat-label>
      <textarea
        rows="4"
        matInput
        formControlName="comments"
        title=""
      ></textarea>
    </mat-form-field>

    <div class="row">
      <div class="col-sm-4">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>secret</mat-label>
          <input readonly matInput formControlName="secret" title="" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="regenerateSecret()"
          >
            <mat-icon>autorenew</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-sm-4 offset-sm-4 d-flex justify-content-sm-end">
        <mat-slide-toggle class="mt-0 mt-sm-3" formControlName="urgent">
          {{ "urgent" | translate }}
        </mat-slide-toggle>
      </div>
    </div>
  </mat-dialog-content>

  <mat-divider class="mx-n4"></mat-divider>

  <mat-dialog-actions class="justify-content-center py-3">
    <button
      mat-flat-button
      class="px-5 py-1"
      color="primary"
      type="submit"
      *ngIf="!demand"
    >
      {{ "create" | translate }}
    </button>
    <button
      mat-stroked-button
      class="btn-outline-success px-5 py-1"
      type="submit"
      *ngIf="demand"
    >
      <mat-icon>check_circle_outline</mat-icon>
      <ng-container [ngSwitch]="demand.status">
        <span *ngSwitchCase="DemandStatus.new">
          {{ "confirm" | translate }}
        </span>
        <span *ngSwitchCase="DemandStatus.in_process">
          {{ "resolve" | translate }}
        </span>
        <span *ngSwitchDefault>
          {{ "save" | translate }}
        </span>
      </ng-container>
    </button>
    <button
      mat-stroked-button
      class="btn-outline-secondary px-5 py-1"
      type="button"
      *ngIf="demand"
      (click)="
        onSubmit(
          demand.status === DemandStatus.in_process
            ? DemandStatus.canceled
            : DemandStatus.archived
        )
      "
    >
      <mat-icon>delete</mat-icon>
      <ng-container [ngSwitch]="demand.status">
        <span *ngSwitchCase="DemandStatus.in_process">
          {{ "cancel" | translate }}
        </span>
        <span *ngSwitchDefault>
          {{ "archive" | translate }}
        </span>
      </ng-container>
    </button>
  </mat-dialog-actions>
</form>
