$modalWidth: 226px;
$modalHeight: 122px;

span {
  opacity: 0;
  transition: opacity 200ms;
}

:host.floating span {
  opacity: 1;
}

.mat-dialog-container-hours {
  // border: 1px solid grey;
  width: $modalWidth + 2;
  height: $modalHeight;
}

.mat-dialog-container {
  padding: 0px !important;
}

.availability-hours-component {
  vertical-align: middle;
  align-items: space-around;
  width: $modalWidth;
  height: 40px;
  border: 0.5px solid grey;
}

.mat-grid-list {
  width: $modalWidth;
}

.mat-grid-tile {
  border: 0.5px solid #ccc;
}

.mat-form-field {
  height: 32px;
  width: 100px;
}

.mat-select {
  background-color: white;
  padding: 0;
  vertical-align: middle;
  text-align: left;
}

.mat-raised-button {
  line-height: 20px;
  min-width: none;
}

.mat-button-base {
  margin: 2px 2px 2px 0;
}
