<div class="mat-dialog-container-hours">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between"
    class="flex-container availability-hours-component"
    style="width: 230px; height: 40px"
  >
    <div style="margin-left: 18px">
      <a> {{ start }} - {{ end }} </a>
    </div>
    <div style="vertical-align: middle; background-color: red; margin-right: 13px">
      <mat-icon width="16" height="16">alarm</mat-icon>
    </div>
  </div>

  <mat-grid-list cols="2" rowHeight="60px" gutterSize="10px">
    <mat-grid-tile style="border: 0.5px solid rgb(153, 144, 144)">
      <mat-form-field>
        <mat-select (selectionChange)="onChangeStartHour($event.value)">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{ hour }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile style="border: 0.5px solid rgb(153, 144, 144)">
      <mat-form-field>
        <mat-select (selectionChange)="onChangeEndHour($event.value)">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{ hour }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">Cancel</button> -->
    <button mat-button (click)="onSubmit($event)" cdkFocusInitial>Ok</button>
  </div>
</div>
