<app-admin-page-header
  title="beneficiaries"
  addBtnLabel="add_beneficiary"
  (exportCallback)="onExport()"
  (addCallback)="openNewBeneficiaryDialog()"
></app-admin-page-header>

<form (ngSubmit)="searchSubmit()">
  <mat-card class="search-filter mb-3">
    <input
      type="text"
      matInput
      title=""
      class="mr-1"
      placeholder="{{ 'search_by_phone_and_name' | translate }}"
      [(ngModel)]="searchFilterQuery"
      [ngModelOptions]="{ standalone: true }"
    />
    <mat-select
      placeholder="{{ 'zone' | translate }}"
      class="mx-1"
      [(value)]="searchFilterZone"
    >
      <mat-option value="all">{{ "all" | translate }}</mat-option>
      <mat-option *ngFor="let zone of zones" [value]="zone">
        {{ zone | translate }}
      </mat-option>
    </mat-select>
    <button mat-mini-fab color="primary" class="ml-1">
      <mat-icon>search</mat-icon>
    </button>
  </mat-card>
</form>

<mat-tab-group
  mat-align-tabs="start"
  class="b-list"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>
      Toți
      <span class="badge-counter">{{ count$ | async }}</span>
    </ng-template>

    <app-beneficiary-list
      [dataSource]="dataSource$"
      [count]="count$"
      [isLoading]="isLoading$"
      (pageChangeEvent)="onPageChange($event)"
    ></app-beneficiary-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Blocați
      <span class="badge-counter">{{ blockListCount$ | async }}</span>
    </ng-template>

    <app-beneficiary-list
      [dataSource]="blockListDataSource$"
      [count]="blockListCount$"
      [isLoading]="blockListIsLoading$"
      (pageChangeEvent)="onBlockListPageChange($event)"
    ></app-beneficiary-list>
  </mat-tab>
</mat-tab-group>
