<h2 class="mt-5 mb-2">Beneficiari</h2>

<div class="actions">
  <button class="button-export" mat-flat-button (click)="onExport()">
    <mat-icon>cloud_download</mat-icon>
    Export CSV
  </button>

  <button
    mat-flat-button
    type="button"
    color="primary"
    (click)="openNewBeneficiaryDialog()"
  >
    <mat-icon>add</mat-icon>
    Nou beneficiar
  </button>
</div>

<mat-card class="mat-card-search-bar">
  <form (ngSubmit)="onSearchSubmit()">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Căutare (Telefon, Nume, Prenume)"
        matInput
        [(ngModel)]="filterStr"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-select
        class="mat-select-zone"
        [(value)]="filterSector"
        placeholder="Sector"
      >
        <mat-option value="">--Sector--</mat-option>
        <mat-option *ngFor="let zone of zones" [value]="zone">
          {{ zone | translate }}
        </mat-option>
      </mat-select>
      <button mat-flat-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>
</mat-card>

<mat-tab-group
  mat-align-tabs="start"
  class="b-list"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>
      Toți
      <span class="badge-counter">{{ count$ | async }}</span>
    </ng-template>

    <app-beneficiary-list
      [dataSource]="dataSource$"
      [count]="count$"
      [isLoading]="isLoading$"
      (pageChangeEvent)="onPageChange($event)"
    ></app-beneficiary-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Blocați
      <span class="badge-counter">{{ blockListCount$ | async }}</span>
    </ng-template>

    <app-beneficiary-list
      [dataSource]="blockListDataSource$"
      [count]="blockListCount$"
      [isLoading]="blockListIsLoading$"
      (pageChangeEvent)="onBlockListPageChange($event)"
    ></app-beneficiary-list>
  </mat-tab>
</mat-tab-group>
