h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  color: #323130;
  margin-top: 60px;
}

.b-list {
  margin-top: 10px;
  background: #fff;
}

.badge-counter {
  padding: 4px;

  border-radius: 12px;
  margin: 0 5px;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  background: #edebe9;
  color: #a19f9d;
}

.mat-tab-label.mat-tab-label-active {
  // TODO lz how to make it work?
  .badge-counter {
    background: #e6ecff;
    color: #3f51b5;
  }
}

/* TODO: dedupe this block of code */
.search-filter {
  padding: 8px;
  box-shadow: none;
  display: flex;

  > input,
  > mat-select {
    flex-grow: 1;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  > mat-select {
    max-width: 150px;
  }

  > input {
    font-size: 14px;
  }

  > button {
    box-shadow: none !important;
    border-radius: 0 !important;
    width: 36px;
    height: 36px;

    ::ng-deep .mat-button-wrapper {
      line-height: 20px;
    }

    mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }

  .date-picker-wrapper {
    display: flex;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);

    mat-datepicker-toggle ::ng-deep button {
      width: 34px;
      height: 34px;
      line-height: 34px;
    }
  }
}
