// to be removed after refactor
.figure {
  margin: 16px 40px;
}

button:focus,
.btn:focus {
  color: #fff;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

img,
svg {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

a {
  display: inline-block;
  color: #db1c1c;
  text-decoration: none;
  transition: all 0.3s;
}

.section .content a,
.section .questions a {
  display: inline;
}

a:hover {
  opacity: 0.8;
  color: #db1c1c;
  text-decoration: none;
}

::-moz-selection {
  color: #fff;
  background: #db1c1c;
}

::selection {
  color: #fff;
  background: #db1c1c;
}

.tap {
  display: inline-block;
  font-size: 17px;
  line-height: 40px;
  padding: 0 30px;
  margin: 0 15px;
  border-radius: 40px;
  color: #575757;
  border: 2px solid #575757;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  white-space: nowrap;
  text-align: center;
}
.tap:hover {
  color: #575757;
  opacity: 0.85;
}
.tap:active {
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
  transform: scale(0.97);
}

.tap.white {
  border-color: #fff;
  color: #fff;
}
.tap.red {
  background-color: #db1c1c;
  border-color: #db1c1c;
  color: #fff;
}
.tap.green {
  background-color: #23b67a;
  color: #fff;
}

.flex {
  display: flex;
  width: 100%;
}
.flex.middle {
  align-items: center;
}
.flex.center {
  justify-content: center;
}
.flex.justify {
  justify-content: space-between;
}
.flex.one > div {
  width: 100%;
}
.flex.two > div {
  width: 50%;
}
.flex.three > div {
  width: 33.33%;
}
.flex.four > div {
  width: 25%;
}
.flex.five > div {
  width: 20%;
}

.flex.spacing {
  margin-left: -10px;
  margin-right: -10px;
}
.flex.spacing > div {
  padding-left: 10px;
  padding-right: 10px;
}
.flex.large_spacing {
  margin-left: -15px;
  margin-right: -15px;
}
.flex.large_spacing > div {
  padding-left: 15px;
  padding-right: 15px;
}

#header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#header,
.header_main {
  height: 90px;
}

.section {
  position: relative;
  padding: 30px 0;
}
.section.intro {
  color: #fff;
  min-height: 100px;
  background: url("/assets/welcome/cover.png") 50% 50% / cover no-repeat;
}
.section.intro h1 {
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  margin: 50px 0;
  text-transform: uppercase;
}
.section.intro h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 300;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.infoline {
  font-size: 15px;
}
.badge {
  border-radius: 0;
  line-height: 32px;
  padding: 0 15px;
  margin: 0 10px;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.badge.white {
  color: #575757;
  background: #fff;
}
.badge.green {
  color: #fff;
  background: #23b67a;
}

.langs {
  text-align: right;
}
.langs a {
  display: inline-block;
  padding: 10px 0;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}
.langs a:hover {
  text-decoration: underline;
}

.info_url {
  background: #db1c1c;
  padding: 2px 20px;
  font-size: 27px;
  color: #fff;
  display: inline-block;
}

.numbers {
  position: relative;
  padding: 0;
  margin: 80px 0 30px 0;
}
.num {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.num_value {
  font-size: 70px;
  font-weight: bold;
}
.num_desc {
  font-size: 20px;
}

.call_to_action {
  margin-top: 30px;
}

.heading {
  position: relative;
  padding: 0;
  margin: 0 0 50px 0;
}
.heading h2 {
  font-size: 42px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.heading p {
  font-size: 17px;
}

.sim_wrap {
  position: relative;
}
.sim_box {
  max-width: 450px;
  margin: 0 auto 30px auto;
  position: relative;
  text-align: center;
  line-height: 1.3;
}

.sim_image {
  margin-bottom: 16px;
}

.sim_image img {
  height: 65px;
}

.sim_title {
  font-size: 34px;
  margin-bottom: 10px;
}
.sim_desc {
  line-height: 1.6;
}

.content ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  border: 0;
}
.content ol > li {
  position: relative;
  min-height: 30px;
  margin-bottom: 50px;
  line-height: 1.4em;
  padding-left: 50px;
  counter-increment: my-awesome-counter;
}
.content ol li::before {
  content: counter(my-awesome-counter);
  color: #575757;
  font-size: 55px;
  position: absolute;
  top: 50%;
  left: 0;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.questions {
  margin: 0 0 40px 0;
  color: #575757;
}
.questions > .question {
  margin-bottom: 35px;
}
.questions > .question h4 {
  font-size: 17px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.team_member {
  position: relative;
  padding: 30px 0;
  text-align: center;
  max-width: 300px;
  color: #575757;
  font-size: 15px;
  line-height: 1.3;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.team_member:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 30px;
}
.tm_image {
  height: 108px;
  margin-bottom: 20px;
}
.tm_placeholder {
  display: block;
  width: 108px;
  height: 108px;
  margin: 0 auto;
  background: #b2b2b5;
  border-radius: 100%;
}

.team-image {
  display: block;
  width: 108px;
  height: 108px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.tm_name {
  font-size: 17px;
  margin-bottom: 5px;
}
.tm_role {
  font-weight: 300;
}
.tm_socials {
  font-size: 14px;
  margin-top: 15px;
}
.tm_socials a {
  background: #b2b2b5;
  color: #fff;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tm_socials a:not(:last-child) {
  margin-right: 8px;
}

.tm_socials a.fb {
  background: #4267b2;
}
.tm_socials a.in {
  background: #0e76a8;
}

.team_grid {
  margin: 60px 0;
}

.title-container {
  display: grid;
  float: left;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
}

.header_buttons {
  float: right;
}

.header_button {
  cursor: pointer;
  padding: 15px;
  color: white;
}

.header_button:hover {
  text-decoration: underline;
  color: white;
}

.footer {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.footer_buttons {
  margin: 20px 0px;
}

.footer_button {
  color: black;
  padding: 10px;
  cursor: pointer;
}

.footer_button:hover {
  text-decoration: underline;
  color: black;
}

.created_by {
  font-size: 15px;
}

.heart {
  font-weight: bold;
  color: red;
  font-size: 14px;
}

.copyright {
  font-size: 12px;
}

.view-progress {
  background: #a10f0f;
}

.social_media {
  margin: 32px 0;
}

.zdx {
}

@media (max-width: 991px) {
  .flex.responsive {
    flex-wrap: wrap;
  }
  .flex.responsive > div {
    width: 100%;
  }
  .flex.responsive > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .tap {
    font-size: 15px;
    min-width: 200px;
    padding: 0 20px;
  }

  .call_to_action {
    text-align: center;
  }

  .heading {
    margin-bottom: 30px;
  }
  .heading h2 {
    font-size: 30px;
  }

  .section {
    padding: 60px 0;
  }

  .sim_title {
    font-size: 24px;
  }

  .section.intro {
    text-align: center;
  }
  .section.intro h1 {
    font-size: 40px;
    margin: 150px 0 40px 0;
  }
  .section.intro h2 {
    font-size: 24px;
  }

  .info_url {
    font-size: 20px;
  }

  #header {
    padding: 20px 0;
  }
  #header,
  .langs {
    text-align: left;
  }
  #header,
  .header_main {
    height: auto;
  }

  .langs {
    padding-top: 5px;
  }

  .info_row {
    display: block;
    padding: 5px 0;
  }
  .info_row .badge {
    line-height: 30px;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 14px;
  }
  .info_row .badge.green {
    margin-left: 0;
  }

  .infoline,
  .langs a {
    font-size: 14px;
  }

  .num {
    justify-content: center;
  }
  .num_desc {
    display: block;
    text-align: left;
    font-size: 18px;
  }
  .num_value {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  .tap {
    font-size: 14px;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
