<!-- + hero -->
<!-- - latest in need -->
<!-- + how to help -->
<!-- + help line -->
<!-- - make donation -->
<!-- - partners -->
<!-- - footer -->

<div id="header" class="header">
  <div class="header_main flex middle">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="float-right">
            <div class="langs">
              <a href="#" id="language" (click)="changeLang()">
                {{ translate.currentLang == "ru" ? "Româna" : "Русский" }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-hero
  [formularUrl]="formularUrl"
  [requestHelpUrl]="'#' + hotLineSectionId"
></app-hero>

<app-help-guide
  [hotLineSectionId]="hotLineSectionId"
  [whoCanHelpSectionId]="whoCanHelpSectionId"
  [whoNeedsHelpSectionId]="whoNeedsHelpSectionId"
  [formularUrl]="formularUrl"
></app-help-guide>

<app-make-donation></app-make-donation>

<div class="section footer">
  <div class="footer_buttons">
    <a class="footer_button text-secondary" routerLink="/login">
      {{ "WELCOME.LOG_IN" | translate }}
    </a>
  </div>
  <div class="created_by text-secondary">
    <span>{{ "WELCOME.CREATED_WITH" | translate }}</span>
    <span class="heart">&#9825;</span>
    <span>{{ "WELCOME.BY_C4MD" | translate }}</span>
  </div>
  <div class="copyright text-secondary">
    &#169;
    <span>2020 Code for Moldova. {{ "WELCOME.COPYRIGHT" | translate }}</span>
  </div>
</div>
