<div class="section intro flex middle">
  <div class="container">
    <div class="intro_content">
      <a routerLink='/'>
        <h1>Inițiativa Îmreună Împotriva COVID-19</h1>
        <h2>VOLUNTAR.MD</h2>
      </a>
      <h4>Proiect civic care ajută oamenii să-și unească eforturile în lupta cu virusul COVID-19</h4>
      <div class="numbers flex middle justify responsive">
        <div class="num flex middle spacing mx-2">
          <div class="call_to_action">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOMOaAwXeMyWA6RC6yZtSSIAblaE1yhHz0rsDrTRsruXLXHg/viewform?fbclid=IwAR2Q-AYsGP7_IX_LGKX9nHNOzPqnM9NFNp8dKhIhUrTpwSeLqS_8vcqdfug"
               class="tap green view-progress"
               target="_blank">
              Vreau să ajut
            </a>
          </div>
        </div>

        <div class="num flex middle spacing mx-2">
          <div class="call_to_action">
            <a href="#green_line"
               class="tap red view-progress">
              Vreau ajutor
            </a>
          </div>
        </div>

        <div class="num flex middle spacing mx-2">
          <div class="call_to_action">
            <a href="https://chuffed.org/project/initiativa-impreuna-impotriva-covid-19"
               class="tap green view-progress"
               target="_blank">
              Vreau să donez
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="section">
  <div class="container">
    <div class="heading">
      <h2 id="green_line">
        Vreau ajutor
      </h2>
    </div>
    <span class="info_row"> Sună la
      <a href="tel:22 27 0945" class="badge green" title="Apeleaza">22 27 0945</a>
      ori la <a href="tel:080000090" class="badge green" title="Apelează">0800 00090</a>
    </span>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="heading">
      <h2>
        Vezi ce se spune despre inițiativă
      </h2>
    </div>

  </div>
</div>

<div class="section footer">
  <div class="footer_buttons">
    <a class="footer_button" routerLink="/login">Logare în sistem</a>
  </div>
  <div class="created_by">
    <span>creat cu</span> <span class="heart">&#9825;</span> <span>de Code for Moldova</span>
  </div>
  <div class="copyright">
    &#169; <span>2020 Code for Moldova. Organizație neguvernamentală independentă, neafiliată politic</span>
  </div>
</div>
