<div class="min-vh-100 d-flex flex-column">
  <app-public-header></app-public-header>
  <div class="bg-light flex-grow-1 py-6">
    <div class="container">
      <h1 class="h2 mb-5">{{ "pages.terms.headline" | translate }}</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
        corporis deserunt distinctio et expedita explicabo impedit ipsum
        laborum, modi nisi odio optio ratione, rerum sequi soluta tempora vero
        voluptas voluptates!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum
        dolor doloribus error eveniet fugiat illo magnam nemo nostrum obcaecati
        officiis optio, pariatur perspiciatis reprehenderit repudiandae sapiente
        suscipit velit voluptatibus.
      </p>
    </div>
  </div>
  <app-public-footer></app-public-footer>
</div>
