<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <ng-container *ngIf="error$ | async as error; else formTemplate">
        {{ error }}
      </ng-container>
    </mat-card-content>
    <div class="loading-shade" *ngIf="isLoading$ | async">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card>
</div>

<ng-template #formTemplate>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Add new Volunteer</h2>
    <input type="hidden" formControlName="id" />
    <mat-form-field class="full-width-input">
      <input
        matInput
        placeholder="First Name"
        formControlName="first_name"
        required
      />
      <mat-error>
        Please provide the name of volunteer
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        matInput
        placeholder="Last Name"
        formControlName="last_name"
        required
      />
      <mat-error>
        Please provide the name of volunteer
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Email" formControlName="email" required />
      <mat-error>
        Please provide a valid email address
      </mat-error>
    </mat-form-field>
    <div>
      <mat-slide-toggle formControlName="status">Active?</mat-slide-toggle>
    </div>
    <!-- <mat-form-field class="full-width-input">
      <input matInput placeholder="Zone" formControlName="zone" required />
      <mat-error>
        Please provide a valid zone
      </mat-error>
    </mat-form-field> -->
    <!-- <mat-form-field class="full-width-input">
      <input matInput placeholder="Date" formControlName="date" required type="date" />
      <mat-error>
        Please provide a valid date
      </mat-error>
    </mat-form-field> -->
    <mat-form-field class="full-width-input">
      <input
        matInput
        placeholder="Facebook Profile"
        formControlName="social_profile"
        required
      />
      <mat-error>
        Please provide a Facebook Profile
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        matInput
        placeholder="Age"
        formControlName="age"
        required
        type="number"
      />
      <mat-error>
        Please provide Volunteer age
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        matInput
        placeholder="Hours per day"
        formControlName="available_hours"
        required
        type="number"
      />
      <mat-error>
        Please provide a valid number
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        matInput
        placeholder="Activities Type"
        formControlName="activity_type"
      />
      <!-- <mat-error>
        Please provide a valid number
      </mat-error> -->
    </mat-form-field>
    <button mat-raised-button color="primary">Add Volunteer</button>
  </form>
</ng-template>
