<div class="mt-4">
  <a href="#" appGoBack>&lt;- Înapoi</a>
</div>

<h2 class="mb-2" translate>beneficiary_edit</h2>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="pb-4">
  <div class="bg-white p-4 mat-typography">
    <h4 class="d-flex justify-content-between">
      <strong translate>personal_data</strong>
    </h4>

    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>last_name</mat-label>
          <input matInput formControlName="last_name" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>first_name</mat-label>
          <input matInput formControlName="first_name" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>phone</mat-label>
          <input matInput formControlName="phone" type="tel" title="" />
          <mat-error translate>eight_digits</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>landline</mat-label>
          <input matInput formControlName="landline" type="tel" title="" />
          <mat-error translate>eight_digits</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>zone</mat-label>
          <mat-select formControlName="zone">
            <mat-option *ngFor="let zone of zones" [value]="zone">
              {{ zone | translate }}
            </mat-option>
          </mat-select>
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3"></div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>age</mat-label>
          <input matInput formControlName="age" type="number" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>special_condition</mat-label>
          <mat-select formControlName="special_condition">
            <mat-option
              *ngFor="let condition of specialConditions"
              [value]="condition"
            >
              {{ condition | translate }}
            </mat-option>
          </mat-select>
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>address</mat-label>
          <input matInput formControlName="address" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-1 pr-lg-0">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>entrance</mat-label>
          <input
            matInput
            formControlName="entrance"
            title="{{ 'entrance' | translate }}"
          />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-1 px-lg-1">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>floor</mat-label>
          <input
            matInput
            formControlName="floor"
            title="{{ 'floor' | translate }}"
          />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-1 pl-lg-0">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>apartment</mat-label>
          <input
            matInput
            formControlName="apartment"
            title="{{ 'apartment' | translate }}"
          />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <app-read-only-input
        class="col-sm-6 col-lg-3"
        value="{{ this.formGroup.get('_id').value }}"
        label="created_at"
      ></app-read-only-input>
    </div>

    <mat-divider class="my-4"></mat-divider>

    <div class="d-flex">
      <mat-slide-toggle class="mr-auto" formControlName="black_list">
        {{ "black_list" | translate }}
      </mat-slide-toggle>
      <button class="ml-auto" mat-flat-button color="primary">
        {{ "save" | translate }}
      </button>
    </div>
  </div>
</form>
