@import "https://js.arcgis.com/4.14/esri/themes/light/main.css";

:host {
  display: block;
  position: relative;
}

:host,
map {
  height: 100%;
  width: 100%;
}

button {
  position: absolute;
  bottom: 30px;
  right: 15px;
}
