// There is also this global import for arcgis styles in styles.scss
// @import "~@arcgis/core/assets/esri/themes/light/main.css";
// Adding it here does not work

:host {
  display: block;
  position: relative;
}

:host,
map {
  height: 100%;
  width: 100%;
}

button {
  position: absolute;
  bottom: 30px;
  right: 15px;
}
