@import "colors";

[class*="-button"] {
  border-radius: 8px !important;

  &:hover {
    text-decoration: none;
  }

  &.large {
    padding: 14px 24px;
    line-height: 20px;

    &:disabled {
      color: #fff;
      border: 2px solid #fff;
    }

    &[color="primary"] {
      min-width: 200px;
    }
  }

  &.secondary {
    background-color: $color-theme-lightest;
    color: $color-theme-light-alt;
  }
}

[mat-raised-button] {
  &[color="primary"] {
    background-color: $color-theme-base;
    color: $color-grays-white;
  }

  &[color="error"] {
    background-color: $color-functional-error;
    color: $color-grays-white;
  }
}

[mat-flat-button] {
  &[color="default"] {
    background-color: transparent;
    color: $default-button-color;
    border: 2px solid $default-button-color;
  }

  &[color="primary"] {
    background-color: $default-button-color;
    color: #ffffff;
  }

  &[color="error"] {
    background-color: $color-functional-error;
    color: $color-grays-white;
  }

  &[color="confirmation"] {
    background-color: transparent;
    color: $color-functional-success;
    border: 2px solid $color-functional-success;
  }

  &[color="removal"] {
    background-color: transparent;
    color: $color-grays-gray-130;
    border: 2px solid $color-grays-gray-130;
  }
}
