$color-type-primary: rgba(50,49,48,1);
$color-type-secondary: rgba(96,94,92,1);
$color-type-disabled: rgba(161,159,157,1);

$color-border-divider: rgba(237,235,233,1);
$color-border-input: rgba(138,136,134,1);
$color-border-input-focus: rgba(50,49,48,1);

$color-theme-base: rgba(0,86,251,1);
$color-theme-dark-alt: rgba(0,69,201,1);
$color-theme-dark: rgba(0,52,151,1);
$color-theme-darkest: rgba(0,34,100,1);
$color-theme-tertiary: rgba(0,128,255,1);
$color-theme-light-alt: rgba(102,154,253,1);
$color-theme-light: rgba(179,204,254,1);
$color-theme-lightest: rgba(230,238,255,1);

$color-functional-error: rgba(240,50,60,1);
$color-functional-error-bg: rgba(252,214,216,1);
$color-functional-success: rgba(60,210,120,1);
$color-functional-success-bg: rgba(216,246,228,1);
$color-functional-warning: rgba(255,211,0,1);
$color-functional-warning-bg: rgba(255,246,204,1);
$color-functional-info: rgba(0,128,255,1);
$color-functional-info-bg: rgba(230,238,255,1);

$color-grays-white: rgba(255,255,255,1);
$color-grays-gray-10: rgba(250,249,248,1);
$color-grays-gray-20: rgba(243,242,241,1);
$color-grays-gray-30: rgba(237,235,233,1);
$color-grays-gray-40: rgba(225,223,221,1);
$color-grays-gray-50: rgba(210,208,206,1);
$color-grays-gray-60: rgba(200,198,196,1);
$color-grays-gray-90: rgba(161,159,157,1);
$color-grays-gray-130: rgba(96,94,92,1);
$color-grays-gray-150: rgba(59,58,57,1);
$color-grays-gray-160: rgba(50,49,48,1);
$color-grays-gray-190: rgba(32,31,30,1);