$spacing: (5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px, 55px, 60px, 65px, 70px, 75px, 80px);
$parts: (top, right, bottom, left);
$prts: (t, r, b, l);

.p {
  @for $h from 1 through length($spacing) {
    &-#{$h * 5} {
      padding: nth($spacing, $h) !important;
    }
  }

  @for $i from 1 through length($parts) {
    @for $j from 1 through length($spacing) {
      &#{nth($prts, $i)}-#{$j * 5} {
        padding-#{nth($parts, $i)}: nth($spacing, $j) !important;
      }
    }
  }

  &-0 {
    padding: 0 !important;
  }
}

.m {
  @for $h from 1 through length($spacing) {
    &-#{$h * 5} {
      margin: nth($spacing, $h) !important;
    }
  }

  @for $i from 1 through length($parts) {
    @for $j from 1 through length($spacing) {
      &#{nth($prts, $i)}-#{$j * 5} {
        margin-#{nth($parts, $i)}: nth($spacing, $j) !important;
      }
    }
  }

  &-0 {
    margin: 0 !important;
  }
}
