.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-12 {
  margin-right: 12px;
}

.mg-center {
  margin: 0 auto;
}

.pad-0 {
  padding: 0 !important;
}

.pad-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.pad-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pad-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad-h-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.pad-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pad-t-30 {
  padding-top: 30px;
}

.pad-h-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.pad-v-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad-15 {
  padding: 15px;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.pad-t-10 {
  padding-top: 10px;
}

.pad-t-15 {
  padding-top: 15px;
}

.pad-t-25 {
  padding-top: 25px;
}

.pad-r-15 {
  padding-right: 15px;
}

.pad-30 {
  padding: 30px;
}

.pad-40 {
  padding: 40px;
}
