h1 {
  color: #2c2c2c;
  font-size: 26px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 29px;
}

input,
select {
  height: 40px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding: 15px;
  color: #282828;
  outline: none;
}

select {
  padding: 0;
}

input.ng-invalid,
select.ng-invalid {
  border: 0.5px solid red;
}

.fieldset {
  font-size: 16px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 24px;
}

.fields_row {
  margin-bottom: 14px;
}

.field:not(:last-child) {
  margin-right: 10px;
}

.title {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #a9a6a6;
  margin-bottom: 10px;
}

.value {
}

.footer {
  display: flex;
  justify-content: space-between;
}

.buttons {
  button:not(:last-child) {
    margin-right: 14px;
  }
}
