<mat-card-title fxLayoutGap="15px" fxLayoutAlign="space-between center">
  <span>{{ volunteer.first_name }} {{ volunteer.last_name }}</span>
  <a
    [routerLink]="['/admin/volunteers/details', volunteer._id]"
    mat-icon-button
    (click)="closeDialog()"
    color="primary"
  >
    <mat-icon>edit</mat-icon>
  </a>
</mat-card-title>
<!-- <mat-card-subtitle>{{volunteer.email}}</mat-card-subtitle> -->
<mat-card-content>
  <mat-divider *ngIf="volunteer.accepted_offer"></mat-divider>
  <h3 class="alert acepted-offer" *ngIf="volunteer.accepted_offer">
    This offer has been accepted by this volunteer.
  </h3>
  <mat-divider></mat-divider>
  <p>
    <strong>First Name</strong>
    : {{ volunteer.first_name }}
  </p>
  <p>
    <strong>Last Name</strong>
    : {{ volunteer.last_name }}
  </p>
  <p>
    <strong>Email</strong>
    : {{ volunteer.email }}
  </p>
  <p>
    <strong>Phone</strong>
    : {{ volunteer.phone }}
  </p>
  <p>
    <strong>Distance</strong>
    : {{ volunteer.distance | number: "1.0-0" }} Km.
  </p>
  <p>
    <strong>Has Telegram</strong>
    : {{ volunteer.telegram_chat_id ? "Yes" : "No" }}
  </p>
  <p>
    <strong>Availability</strong>
    : {{ volunteer.availability_days || "None" }}
  </p>
  <p>
    <strong>Accepted Requests</strong>
    : {{ volunteer.count }}
  </p>
  <mat-divider></mat-divider>
  <h3>Activity Types</h3>
  <p *ngFor="let activity of activityTypes$ | async">{{ activity.ro }}</p>
</mat-card-content>
