<app-admin-page-header
  title="demands"
  addBtnLabel="add_demand"
  (importCallback)="onImport()"
  (exportCallback)="onExport()"
  (addCallback)="openDemandDialog()"
></app-admin-page-header>

<form (ngSubmit)="searchSubmit()">
  <mat-card class="search-filter mb-3">
    <input
      type="text"
      matInput
      title=""
      class="mr-1"
      placeholder="{{ 'search_by_phone_and_name' | translate }}"
      [(ngModel)]="searchFilterQuery"
      [ngModelOptions]="{ standalone: true }"
    />
    <mat-select
      placeholder="{{ 'zone' | translate }}"
      class="mx-1"
      [(value)]="searchFilterZone"
    >
      <mat-option value="all">{{ "all.feminine" | translate }}</mat-option>
      <mat-option *ngFor="let zone of zones" [value]="zone">
        {{ zone | translate }}
      </mat-option>
    </mat-select>
    <div class="date-picker-wrapper mx-1">
      <input
        matInput
        placeholder="{{ 'date' | translate }}"
        title=""
        [matDatepicker]="datePicker"
        (dateChange)="setSearchDate($any($event).value)"
      />
      <mat-datepicker-toggle [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </div>
    <button mat-mini-fab color="primary" class="ml-1">
      <mat-icon>search</mat-icon>
    </button>
  </mat-card>
</form>

<app-demands-map class="mb-3"></app-demands-map>

<mat-tab-group
  [selectedIndex]="selectedTabIndex$ | async"
  class="selected-tab-{{ selectedTab }} bg-white"
  (selectedTabChange)="onTabChanged($event)"
>
  <mat-tab *ngFor="let status of allStatuses; let i = index">
    <ng-template mat-tab-label>
      <span
        matBadge="{{ (allStatusesCounts$ | async)[i] }}"
        matBadgeOverlap="false"
        ngClass="{{ status ? status : 'primary' }}"
      >
        {{ (status ? status : "all.feminine") | translate }}
      </span>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div class="position-relative">
  <mat-accordion [multi]="false">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource$" style="min-width: 930px">
        <ng-container matColumnDef="demand">
          <td mat-cell *matCellDef="let element" class="px-0">
            <mat-expansion-panel class="shadow-none">
              <mat-expansion-panel-header>
                <mat-panel-title class="d-flex align-items-center">
                  <app-badge class="p-1 mr-2">
                    <ng-container
                      [ngSwitch]="cast(element).beneficiary.special_condition"
                    >
                      <mat-icon *ngSwitchDefault></mat-icon>
                      <mat-icon
                        *ngSwitchCase="SpecialCondition.blind_weak_seer"
                        svgIcon="blind_weak_seer"
                        matTooltip="{{ 'blind_weak_seer' | translate }}"
                        matTooltipPosition="right"
                      ></mat-icon>
                      <mat-icon
                        *ngSwitchCase="SpecialCondition.deaf_mute"
                        svgIcon="deaf_mute"
                        matTooltip="{{ 'deaf_mute' | translate }}"
                        matTooltipPosition="right"
                      ></mat-icon>
                      <mat-icon
                        *ngSwitchCase="SpecialCondition.disability"
                        svgIcon="disability"
                        matTooltip="{{ 'disability' | translate }}"
                        matTooltipPosition="right"
                      ></mat-icon>
                    </ng-container>
                  </app-badge>

                  <span class="mx-2 w-25">
                    {{ cast(element).beneficiary.first_name }}
                    {{ cast(element).beneficiary.last_name }}
                  </span>

                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <mat-icon inline class="mr-1 text-secondary">
                      phone_in_talk
                    </mat-icon>
                    <span
                      class="mr-2 text-dark"
                      style="width: 100px"
                      *ngIf="!cast(element).beneficiary.phone"
                    >
                      {{ "missing_phone" | translate }}
                    </span>
                    <a
                      class="mr-2 text-dark"
                      style="width: 100px"
                      *ngIf="cast(element).beneficiary.phone"
                      href="tel:+373{{ cast(element).beneficiary.phone }}"
                    >
                      {{ cast(element).beneficiary.phone | mask: "00 000 000" }}
                    </a>

                    <mat-icon inline class="mr-1 text-secondary">
                      location_on
                    </mat-icon>
                    <span class="mr-2" style="width: 75px">
                      {{ cast(element).beneficiary.zone | translate }}
                    </span>

                    <mat-icon inline class="mr-1 text-secondary">
                      today
                    </mat-icon>
                    <span class="mr-2">
                      {{ cast(element).created_at | date: "d MMM" }}
                    </span>
                  </div>

                  <app-badge
                    class="ml-auto"
                    [class]="getBadgeClassFromStatus(element)"
                  >
                    {{ l10nDemandStatus(cast(element).status) | translate }}
                  </app-badge>
                  <button
                    mat-stroked-button
                    color="primary"
                    class="ml-2"
                    (click)="openDemandDialog(element)"
                  >
                    <mat-icon>settings</mat-icon>
                    {{ "edit" | translate }}
                  </button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-divider class="mx-n4 mb-3"></mat-divider>

              <strong *ngIf="!cast(element).volunteer" translate>
                missing_volunteer
              </strong>

              <ng-container *ngIf="cast(element).volunteer as volunteer">
                <h6 translate>volunteer_info</h6>

                <dl class="row">
                  <ng-container
                    *ngIf="volunteer.first_name || volunteer.last_name"
                  >
                    <dt class="col-sm-2">{{ "name" | translate }}</dt>
                    <dd class="col-sm-10">
                      {{ volunteer.first_name }} {{ volunteer.last_name }}
                    </dd>
                  </ng-container>

                  <ng-container *ngIf="volunteer.phone">
                    <dt class="col-sm-2">{{ "phone" | translate }}</dt>
                    <dd class="col-sm-10">{{ volunteer.phone }}</dd>
                  </ng-container>

                  <ng-container *ngIf="volunteer.email">
                    <dt class="col-sm-2">{{ "email" | translate }}</dt>
                    <dd class="col-sm-10">
                      {{ volunteer.email }}
                    </dd>
                  </ng-container>
                  <ng-container *ngIf="cast(element).volunteer?.cluster_id">
                    <dt class="col-sm-2">{{ "cluster" | translate }}</dt>
                    <dd class="col-sm-10">
                      <a href="{{ getClusterUrl(element) }}" target="_blank">
                        {{ getClusterUrl(element) }}
                      </a>
                    </dd>
                  </ng-container>
                </dl>
              </ng-container>
            </mat-expansion-panel>
          </td>
        </ng-container>

        <tr
          mat-row
          *matRowDef="let row; columns: ['demand']"
          [ngClass]="{ cancelled: cast(row).status === 'cancelled' }"
        ></tr>
      </table>

      <div class="loading-shade" *ngIf="isLoading$ | async">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </mat-accordion>
</div>

<mat-paginator
  (page)="onPageChange($event)"
  [length]="count$ | async"
  [pageSizeOptions]="[20, 50, 100]"
></mat-paginator>

<div class="pb-5"></div>
