<mat-toolbar>
  <div class="container">
    <a routerLink="/admin" class="logo">
      <img src="/assets/images/landing/header-logo.svg" alt="Logo" />
    </a>

    <nav mat-tab-nav-bar mat-align-tabs="start">
      <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="link.link"
        (click)="activeLink = link"
        [active]="activeLink == link"
      >
        {{ link.label }}
      </a>
    </nav>

    <button
      mat-icon-button
      [disabled]="(newRequest$ | async) === false"
      (click)="fetchRequests()"
      [matTooltip]="(newRequest$ | async) ? 'New Request' : null"
      aria-label="Notifications"
    >
      <mat-icon
        [matBadge]="(newRequest$ | async) ? '!' : null"
        matBadgeColor="primary"
      >
        notifications_none
      </mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>supervised_user_circle</mat-icon>
      <span class="user-name">{{ userName$ | async }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu>
      <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
