h1 {
  font-size: 26px;
  font-weight: 400;
  color: #2c2c2c;
}

.edit-link {
  mat-icon {
    width: 15px;
    height: 15px;
    font-size: 15px;
  }
}

.fieldset {
  font-size: 16px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 24px;
}

.title {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #a9a6a6;
  margin-bottom: 10px;
}

.value {
  font-size: 14px;
}
