<app-admin-page-header
  title="view_beneficiary"
  editLink="edit"
></app-admin-page-header>

<div *ngIf="user">
  <mat-card>
    <div class="fieldset">Date personale</div>

    <mat-grid-list cols="4" rowHeight="62px">
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Nume, Prenume</div>
          <div class="value">{{ user.last_name }} {{ user.first_name }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Telefon (Mobil)</div>
          <div class="value">{{ user.phone }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Telefon (Fix)</div>
          <div class="value">{{ user.landline }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Vîrsta</div>
          <div class="value">{{ user.age }}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="62px">
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Sector</div>
          <div class="value">{{ user.zone | translate }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Adresă</div>
          <div class="value">{{ userAddress() }}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="62px">
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Condiții speciale</div>
          <div class="value">
            <app-disability
              [disability]="user.special_condition"
            ></app-disability>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Data creare profil</div>
          <div class="value">{{ user.created_at | date }}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

  <app-demands-history
    [demands]="demandsData$ | async"
    [show]="'volunteer'"
    (page)="onPageChange($event)"
  ></app-demands-history>
</div>
