<div class="mt-4">
  <a href="#" appGoBack>&lt;- Înapoi</a>
</div>

<div fxLayoutAlign="space-between center" class="mb-2">
  <h2>Detalii Beneficiar</h2>
  <a mat-stroked-button [routerLink]="['./edit', user._id]" class="edit-link">
    <mat-icon>edit</mat-icon>
    Editează
  </a>
</div>

<div *ngIf="user">
  <mat-card>
    <div class="fieldset">Date personale</div>

    <mat-grid-list cols="4" rowHeight="62px">
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Nume, Prenume</div>
          <div class="value">{{ user.last_name }} {{ user.first_name }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Telefon (Mobil)</div>
          <div class="value">{{ user.phone }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Telefon (Fix)</div>
          <div class="value">{{ user.landline }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Vîrsta</div>
          <div class="value">{{ user.age }}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="62px">
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Sector</div>
          <div class="value">{{ user.zone | translate }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Adresă</div>
          <div class="value">{{ userAddress() }}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="62px">
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Condiții speciale</div>
          <div class="value">
            <app-disability
              [disability]="user.special_condition"
            ></app-disability>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayout="column">
          <div class="title">Data creare profil</div>
          <div class="value">{{ user.created_at | date }}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

  <div class="secondary-title">
    Istoric Cereri
    <span class="count">({{ requestsCount$ | async }})</span>
  </div>
  <mat-accordion multi displayMode="flat">
    <mat-expansion-panel
      *ngFor="let req of requestsData$ | async"
      displayMode="flat"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="number" style="width: 100px">#{{ req.number }}</div>
          <div class="type" style="width: 300px">
            <app-request-type [type]="req.type"></app-request-type>
          </div>
          <div class="date" style="width: 200px">
            <mat-icon>event</mat-icon>
            {{ req.created_at | prettyDate }}
          </div>
          <div class="status" style="width: 170px">
            <app-request-status [status]="req.status"></app-request-status>
          </div>
          <div class="volunteer" style="width: 183px">
            <span *ngIf="req.volunteer">
              <mat-icon>perm_identity</mat-icon>
              {{ req.volunteer.last_name }} {{ req.volunteer.first_name }}
            </span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      {{ req.comments }}
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    (page)="onPageChange($event)"
    [length]="requestsCount$ | async"
    [pageSizeOptions]="[20, 50, 100]"
  ></mat-paginator>
</div>
