<div [ngSwitch]="role" fxFlex>
  <span *ngSwitchCase="'copilot'">
    <mat-icon svgIcon="copilot"></mat-icon>
  </span>
  <span *ngSwitchCase="'delivery'">
    <mat-icon svgIcon="delivery"></mat-icon>
  </span>
  <span *ngSwitchCase="'operator'">
    <mat-icon svgIcon="operator"></mat-icon>
  </span>
  <span *ngSwitchCase="'supply'">
    <mat-icon svgIcon="supply"></mat-icon>
  </span>
  <span *ngSwitchCase="'packing'">
    <mat-icon svgIcon="packing"></mat-icon>
  </span>
  <span style="margin-left: 5px" *ngIf="showLabel && role">
    {{ role | roleTitle }}
  </span>
</div>
