<app-admin-page-header title="volunteer_edit"></app-admin-page-header>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="pb-4">
  <div class="bg-white p-4 mat-typography">
    <h4 class="d-flex justify-content-between">
      <strong translate>personal_data</strong>
      <span class="ml-auto">
        <span *ngIf="!this.formGroup.get('is_active').value">
          {{ "inactive" | translate }}
        </span>
        <span *ngIf="this.formGroup.get('is_active').value">
          {{ "active" | translate }}
        </span>
        <mat-slide-toggle
          class="pl-3"
          formControlName="is_active"
          (change)="toggleActive($event)"
        ></mat-slide-toggle>
      </span>
    </h4>

    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>last_name</mat-label>
          <input matInput formControlName="last_name" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>first_name</mat-label>
          <input matInput formControlName="first_name" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>phone</mat-label>
          <input matInput formControlName="phone" type="tel" title="" />
          <mat-error translate>eight_digits</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>email</mat-label>
          <input matInput formControlName="email" title="" />
          <mat-error translate>invalid_email</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>zone</mat-label>
          <mat-select formControlName="zone">
            <mat-option *ngFor="let zone of zones" [value]="zone">
              {{ zone | translate }}
            </mat-option>
          </mat-select>
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>address</mat-label>
          <input matInput formControlName="address" title="" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>age</mat-label>
          <input
            matInput
            min="16"
            max="50"
            formControlName="age"
            type="number"
            title=""
          />
          <mat-error
            translate
            *ngIf="this.formGroup.get('age').errors?.required"
          >
            required_field
          </mat-error>
          <mat-error
            translate
            *ngIf="
              this.formGroup.get('age').errors?.min ||
              this.formGroup.get('age').errors?.max
            "
          >
            between16and50
          </mat-error>
        </mat-form-field>
      </div>

      <app-read-only-input
        class="col-sm-6 col-lg-3"
        value="{{ this.volunteer._id }}"
        label="id"
      ></app-read-only-input>

      <div class="col-sm-6 col-lg-6">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>social_media_profile</mat-label>
          <input matInput formControlName="facebook_profile" title="" />
          <mat-error
            translate
            *ngIf="this.formGroup.get('facebook_profile').errors?.required"
          >
            required_field
          </mat-error>
          <mat-error
            *ngIf="this.formGroup.get('facebook_profile').errors?.pattern"
            translate
          >
            facebook_url_not_valid
          </mat-error>
        </mat-form-field>
      </div>

      <!--      TODO: add legitimație-->
      <div class="col-sm-6 col-lg-3">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="d-block"
        >
          <mat-label translate>card</mat-label>
          <input matInput title="legitimatie" />
          <mat-error translate>required_field</mat-error>
        </mat-form-field>
      </div>

      <app-read-only-input
        class="col-sm-6 col-lg-3"
        value="{{ this.volunteer.created_at }}"
        label="created_at"
      ></app-read-only-input>
    </div>

    <mat-divider class="my-4"></mat-divider>

    <div class="row">
      <div class="col-lg-6">
        <h4>
          <strong translate>volunteer_role</strong>
        </h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="d-block">
              <mat-label translate>volunteer_role</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{ role | translate }}
                </mat-option>
              </mat-select>
              <mat-error translate>required_field</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h4>
          <strong translate>availability</strong>
        </h4>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="d-block">
              <mat-label translate>days</mat-label>
              <mat-select formControlName="availability_days" multiple>
                <mat-option *ngFor="let weekDay of weekDays" [value]="weekDay">
                  {{ weekDay | translate }}
                </mat-option>
              </mat-select>
              <mat-error translate>required_field</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="outline" class="d-block">
                  <mat-label translate>from</mat-label>
                  <mat-select formControlName="availability_hours_start">
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">
                      {{ hour.label }}
                    </mat-option>
                  </mat-select>
                  <mat-error translate>required_field</mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="d-block">
                  <mat-label translate>to</mat-label>
                  <mat-select formControlName="availability_hours_end">
                    <mat-option
                      *ngFor="let hour of getHours()"
                      [value]="hour.value"
                    >
                      {{ hour.label }}
                    </mat-option>
                  </mat-select>
                  <mat-error translate>required_field</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-divider class="my-4"></mat-divider>

    <div class="d-flex">
      <mat-slide-toggle
        class="mr-auto"
        formControlName="blacklist"
        (change)="toggleBlacklist($event)"
      >
        {{ "black_list" | translate }}
      </mat-slide-toggle>
      <button class="ml-auto" mat-flat-button color="primary">
        {{ "save" | translate }}
      </button>
    </div>
  </div>
</form>
