.place-search-list {
    position: absolute;
    left: 0;
    right: 40px;
    top: 27px;
    background-color: #ffffffde;
    border: 1px solid #ddd;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 600;

    .place-item {
        font-size: 15px;
        color: #111;
        font-weight: 400;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;

        &:hover {
            background-color: #fff;
        }
    }
}
