mat-accordion {
  display: block;
  margin: 15px 0 25px;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
}

mat-expansion-panel-header {
  &.ng-invalid {
    background: rgba(#f44336, 0.3);
    border: 1px solid #f44336;
  }
}

mat-panel-title {
  align-self: center;
}
