<div class="mb-25">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex>
      <h1 class="mb-10 mt-0">
        {{ currentRequestId ? "Beneficiar Details" : "Create Beneficiar" }}
      </h1>
      <a routerLink="/beneficiars/list" class="go-back">
        <div fxFlex fxLayoutAlign="start center">
          <mat-icon>arrow_back</mat-icon>
          <span>Back to List</span>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayoutAlign="start start" fxLayoutGap="25px">
    <mat-card fxFlex="75">
      <mat-card-content>
        <input type="hidden" formControlName="_id" />
        <div fxLayoutGap="15px">
          <mat-form-field fxFlex class="full-width-input">
            <input matInput placeholder="First Name" formControlName="first_name" required />
            <mat-error>
              Please provide the name of Beneficiar
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex class="full-width-input">
            <input matInput placeholder="Last Name" formControlName="last_name" required />
            <mat-error>
              Please provide the name of Beneficiar
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayoutGap="15px">
          <mat-form-field fxFlex class="full-width-input">
            <input matInput placeholder="Email" formControlName="email" required type="email" />
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex class="full-width-input">
            <input matInput placeholder="Password" formControlName="password" required type="password" />
            <!-- <mat-error>
                  Please provide a valid email address
                </mat-error> -->
          </mat-form-field>
        </div>
        <div fxLayoutGap="15px">
          <mat-form-field fxFlex class="full-width-input">
            <input matInput placeholder="Phone" formControlName="phone" required type="tel" />
            <mat-error>
              Please provide a valid phone number
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex class="full-width-input">
            <input matInput placeholder="Age" formControlName="age" type="number" required />
          </mat-form-field>
          <mat-form-field fxFlex class="full-width-input">
            <input matInput placeholder="Available" required formControlName="availability_volunteer" type="number" />
            <mat-error>
              Please provide a value between 0 and 23
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex class="full-width-input">
            <mat-select placeholder="Offer" required formControlName="offer">
              <mat-option *ngFor="let offer of offers$ | async" [value]="offer._id">{{offer.ro}}</mat-option>
            </mat-select>
            <mat-error>
              Please provide an offer
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <h3>Address</h3>
          <mat-divider></mat-divider>
          <div fxLayoutGap="15px" class="pad-t-10 pad-b-10">
            <div fxFlex fxLayoutGap="10px">
              <mat-form-field fxFlex class="full-width-input">
                <input matInput autocomplete="off" placeholder="Address" aria-label="Address" [matAutocomplete]="auto"
                  [formControl]="fakeAddressControl" required />
                <mat-hint>Use to prefill address data</mat-hint>
                <mat-progress-bar *ngIf="addressIsLoading$ | async" mode="query"></mat-progress-bar>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                  (optionSelected)="onAddressSelected($event)" [displayWith]="displayFn">
                  <mat-option *ngFor="let address of addresses$ | async" [value]="address">
                    <span>{{address.address}}</span> |
                    <small>Score: {{address.score}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button mat-icon-button type="button" color="primary" (click)="showMapDialog()">
                <mat-icon>map</mat-icon>
              </button>
            </div>
            <!-- <mat-form-field fxFlex class="full-width-input">
              <input matInput placeholder="Address" aria-label="Address" formControlName="address" required />
            </mat-form-field> -->
            <mat-form-field fxFlex="200px" class="full-width-input">
              <input matInput placeholder="Sector" aria-label="Sector" [matAutocomplete]="zoneAuto"
                formControlName="zone_address" required />
              <mat-autocomplete #zoneAuto="matAutocomplete" [displayWith]="showZoneLabel.bind(this)">
                <mat-option *ngFor="let zone of zones$ | async" [value]="zone">
                  <span>{{zone.ro}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>


        <!-- <div fxLayout="column" fxLayoutGap="15px" style="margin-bottom: 1.25em;">
          <mat-label>Activity Types</mat-label>
          <div fxLayout="column" fxLayoutGap="5px">
            <mat-checkbox *ngFor="let activity of activityTypes$ | async" [value]="activity._id"
              (change)="activityChange($event)" [checked]="isActivitySelected(activity._id)">
              {{ activity.ro }}
            </mat-checkbox>
          </div>
        </div> -->

        <mat-form-field class="full-width-input">
          <textarea matInput placeholder="Questions" formControlName="questions" cdkTextareaAutosize
            cdkAutosizeMinRows="4" required></textarea>
          <!-- <mat-error>
            Questions is required
          </mat-error> -->
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <textarea matInput placeholder="Comments" formControlName="comments" cdkTextareaAutosize
            cdkAutosizeMinRows="4" required></textarea>
          <!-- <mat-error>
            Questions is required
          </mat-error> -->
        </mat-form-field>
        <div fxLayoutGap="15px">
          <mat-form-field fxFlex class="full-width-input">
            <input matInput placeholder="Secret" formControlName="secret" required />
          </mat-form-field>
          <mat-form-field fxFlex class="full-width-input">
            <mat-select placeholder="Status" formControlName="status" required>
              <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                {{ status.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Hidden Fields
              </mat-panel-title>
              <!-- <mat-panel-description>
                You probably don't need to change something here.
              </mat-panel-description> -->
            </mat-expansion-panel-header>

            <div fxLayoutGap="15px">
              <mat-form-field fxFlex class="full-width-input">
                <input matInput placeholder="Address" formControlName="address" required />
              </mat-form-field>
              <mat-form-field fxFlex=200px class="full-width-input">
                <input matInput placeholder="Latitude" formControlName="latitude" required />
              </mat-form-field>
              <mat-form-field fxFlex=200px class="full-width-input">
                <input matInput placeholder="Longitude" formControlName="longitude" required />
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="form-action-container">
          <button mat-raised-button *ngIf="!currentRequestId" color="primary">
            Add Beneficiar
          </button>
          <button mat-raised-button *ngIf="currentRequestId" color="primary">
            Update Beneficiar
          </button>
        </div>
        <div class="loading-shade" *ngIf="isLoading$ | async">
          <mat-spinner></mat-spinner>
        </div>
      </mat-card-content>
    </mat-card>
    <div fxFlex="25" fxLayout="column" fxLayoutGap="15px">
      <mat-card>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="15px">
            <mat-slide-toggle formControlName="is_active">Active?</mat-slide-toggle>
            <mat-slide-toggle formControlName="have_money">Has Money?</mat-slide-toggle>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card style="overflow: hidden;">
        <mat-progress-bar *ngIf="volunteersNearbyIsLoading$ | async" style="top: 0; left: 0" mode="query">
        </mat-progress-bar>
        <mat-card-content>
          <h3>Volunteers nearby Beneficiary</h3>
          <mat-radio-group formControlName="volunteer"
            *ngIf="volunteersNearby$ | async as volunteersNearby; else noVolunteersNearby">
            <div fxLayoutGap="1em" fxLayoutAlign="center" *ngFor="let volunteer of volunteersNearby">
              <mat-radio-button fxLayoutAlign="center" fxFlex [value]="volunteer._id">
                {{volunteer.first_name}} {{volunteer.last_name}} / {{volunteer.phone}}
              </mat-radio-button>
              <button mat-icon-button type="button" color="primary" (click)="showVolunteerInfoModal(volunteer)">
                <mat-icon>info</mat-icon>
              </button>
            </div>
          </mat-radio-group>
          <ng-template #noVolunteersNearby>
            <p>No Volunteers were found!</p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>
