.header {
  padding: 13px 0;
  color: #282828;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    flex-grow: 3;
  }

  .close-link {
    color: #adadad;

    a {
      display: inline-block;
      width: 24px;
      height: 24px;
      text-align: center;
    }

    mat-icon {
      cursor: pointer;
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }
}

.content {
  border-bottom: 1px solid #dedede;
  padding: 20px;

  input,
  select {
    height: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 15px;
    color: #282828;
    outline: none;
  }

  select {
    padding: 0;
  }

  input.ng-invalid,
  select.ng-invalid {
    border: 0.5px solid red;
  }

  .fieldset {
    font-size: 16px;
    font-weight: 700;
    color: #282828;
    margin-bottom: 24px;
  }

  .fields_row {
    margin-bottom: 14px;
  }

  .field:not(:last-child) {
    margin-right: 10px;
  }

  .title {
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #a9a6a6;
    margin-bottom: 10px;
  }

  .value {
  }

  .phone_prefix {
    width: 70px;
    border-right: none;
  }

  .phone_number {
    width: 160px;
  }
}

.footer {
  padding: 25px;
  display: flex;
  justify-content: center;
}
