:host {
  height: 100%;
  display: block;
}

.admin-container {
  height: 100%;
  background: #eee;
}

h2 {
  margin-top: 0;
}

mat-card {
  width: 432px;
  margin: 0 auto;
}

mat-form-field {
  margin-bottom: 10px;
}

.login-action {
  padding-top: 15px;
}

mat-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
}
