<div class="container">
	<div class="container">
		<h3>Parteneri</h3>
		<p>Împreună alături pentru oameni</p>
		<ngb-carousel #carousel class="carousel">
		  <ng-template ngbSlide>
		  	<div class="carousel-slide">
		    	<a href="https://lukoil.md/ru/"><img class="carousel-image" src="/assets/images/landing/partners/lukoil.png"/></a>
		    	<a href="https://itaxi.md/en/"><img class="carousel-image" src="/assets/images/landing/partners/itaxi.png"/></a>
		    	<a href="https://www.tucanocoffee.com/md/"><img class="carousel-image" src="/assets/images/landing/partners/tucano.png"/></a>
		    	<a href="https://www.facebook.com/AsociatiaMAR"><img class="carousel-image" src="/assets/images/landing/partners/mar.png"/></a>
		  	</div>
		  </ng-template>
		  <ng-template ngbSlide>
			<div class="carousel-slide">
			<a href="https://www.facebook.com/apifolk.md/"><img class="carousel-image1" src="/assets/images/landing/partners/apifolk.png"/></a>
			<a href="https://www.facebook.com/mezzoitalian/"><img class="carousel-image1" src="/assets/images/landing/partners/Mezzo.png"/></a>
		    <a href="https://www.facebook.com/Et-%C3%87i-Mill-and-Grill-282967698779914/"><img class="carousel-image1" src="/assets/images/landing/partners/mill-grill.png"/></a>
		    <a href="https://barbershop-aydam.business.site/"><img class="carousel-image1" src="/assets/images/landing/partners/aydam.png"/></a>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="carousel-slide">
			<a href="https://www.diaconia.md/"><img class="carousel-image1" src="/assets/images/landing/partners/misiunea-diaconia.png"/></a>
			<a href="https://www.venitilahristos.org/"><img class="carousel-image1" src="/assets/images/landing/partners/church.png"/></a>
		    <a href="https://www.latterdaysaintcharities.org/"><img class="carousel-image1" src="/assets/images/landing/partners/LDS-charities.png"/></a>
		   </div>
		</ng-template>
		</ngb-carousel>
	</div>
</div>