<div class="container">
  <h3>Parteneri</h3>
  <p>Împreună alături pentru oameni</p>
  <ngb-carousel #carousel class="mb-5 outline-none">
    <ng-template ngbSlide>
      <div class="d-flex align-items-center">
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://lukoil.md/ru/"
          class="px-4 w-25"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/lukoil.png"
            alt="lukoil"
          />
        </a>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://itaxi.md/en/"
          class="px-4 w-25"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/itaxi.png"
            alt="itaxi"
          />
        </a>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.tucanocoffee.com/md/"
          class="px-4 w-25"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/tucano.png"
            alt="tucano"
          />
        </a>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.facebook.com/AsociatiaMAR"
          class="px-4 w-25"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/mar.png"
            alt="mar"
          />
        </a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex align-items-center">
        <a
          class="px-4 w-25"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.facebook.com/apifolk.md/"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/apifolk.png"
            alt="apifolk"
          />
        </a>
        <a
          class="px-4 w-25"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.facebook.com/mezzoitalian/"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/Mezzo.png"
            alt="Mezzo"
          />
        </a>
        <a
          class="px-4 w-25"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.facebook.com/Et-%C3%87i-Mill-and-Grill-282967698779914/"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/mill-grill.png"
            alt="mill-grill"
          />
        </a>
        <a
          class="px-4 w-25"
          target="_blank"
          rel="noreferrer noopener"
          href="https://barbershop-aydam.business.site/"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/aydam.png"
            alt="aydam"
          />
        </a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex align-items-center">
        <a
          class="px-4 w-25"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.diaconia.md/"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/misiunea-diaconia.png"
            alt="misiunea-diaconia"
          />
        </a>
        <a
          class="px-4 w-25"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.venitilahristos.org/"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/church.png"
            alt="church"
          />
        </a>
        <a
          class="px-4 w-25"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.latterdaysaintcharities.org/"
        >
          <img
            class="mw-100 mh-100px"
            src="/assets/images/landing/partners/LDS-charities.png"
            alt="LDS-charities"
          />
        </a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
