<div class="mb-25">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex>
      <h1 class="mb-0 mt-0">Voluntarii</h1>
    </div>
    <div fxFlex fxLayoutAlign="end">
      <a routerLink="/volunteers/new" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> Nou voluntar
      </a>
    </div>
  </div>
</div>

<form novalidate [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <mat-form-field fxFlex class="full-width-input" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Name" formControlName="first_name" type="text" />
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <mat-form-field fxFlex class="full-width-input" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="last_name" type="text" />
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <mat-form-field fxFlex class="full-width-input" appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Phone" formControlName="phone" type="number" />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <mat-form-field fxFlex class="full-width-input" appearance="fill">
        <mat-label>Status</mat-label>
        <input matInput placeholder="Status" formControlName="status" type="text" />
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Select Fixer</mat-label>
        <mat-select formControlName="offer">
          <mat-option *ngFor="let item of (offers|async)" [value]="item._id">
            {{ item.first_name|| item.ro}}
          </mat-option>
          <mat-option [value]="''">
            {{ 'All'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Select Zones</mat-label>
        <mat-select formControlName="zone_address">
          <mat-option *ngFor="let item of (zones|async)?.list" [value]="item._id">
            {{ item.first_name|| item.ro}}
          </mat-option>
          <mat-option [value]="''">
            {{ 'All'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around stretch">
    <div fxLayout="column" class="mb-25">
      <button mat-flat-button color="primary" (click)="search(form.value)">
        Search
      </button>

    </div>
    <div fxLayout="column">
      <button mat-flat-button color="primary" (click)="reset()">
        Reset
      </button>
    </div>
  </div>

</form>



<mat-card>
  <table mat-table [dataSource]="dataSource$ | async">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nume</th>
      <td mat-cell *matCellDef="let element">
        {{ element.first_name }} {{ element.last_name }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Activ</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status ? "Da" : "Nu" }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="availableHours">
      <th mat-header-cell *matHeaderCellDef>Ore pe zi</th>
      <td mat-cell *matCellDef="let element">{{ element.available_hours }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="clickable-row"
      [routerLink]="['/volunteers/details', row._id]"></tr>
  </table>

  <div class="loading-shade" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[20, 50, 100]"></mat-paginator>
  </mat-card-footer>
</mat-card>
