/* You can add global styles to this file, and also import other style files */
@import "./styles/main";

@import "./styles/colors";
@import "./styles/buttons";
@import "./styles/badges";
@import "./styles/form";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-y: scroll;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eeeeee;
}

.mat-table {
  width: 100%;
  th {
    background: #f5f5f5;
  }
}

/* copied from bootstrap/table */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.mat-paginator {
  background-color: transparent;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #f5f5f5;
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  font-size: 12px;
  text-transform: uppercase;
}

.mat-flat-button,
.mat-raised-button,
.mat-stroked-button {
  .mat-icon {
    margin-right: 5px;
    margin-left: -5px;
    margin-top: -2px;
  }
}

.go-back {
  text-decoration: none !important;
}

.cdk-overlay-pane-no-padding mat-dialog-container {
  padding: 0;
}

.text-truncate {
  max-width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  /* word-break: break-all; */
  /* white-space: nowrap; */
  display: inline-block;
}

.mat-snack-bar-container {
  span {
    color: white;
  }

  &.success {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
  }

  &.danger {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
  }

  &.warning {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
  }

  &.info {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
  }
}

.mat-tab-link {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.mat-form-field-no-underline .mat-form-field-underline {
  display: none;
}

// TODO: also use this in beneficiaries and users
.mat-icon-small {
  width: 14px;
  height: 14px;
  font-size: 14px;
}
