<h2 class="mt-5 mb-2" fxLayoutAlign="space-between center">Voluntari</h2>
<div class="mb-2 d-flex flex-column flex-sm-row flex-wrap">
  <div>
    <button
      mat-flat-button
      type="button"
      color="default"
      disabled
      class="mb-1 mr-sm-2"
      (click)="onVolunteersImport()"
    >
      <mat-icon>publish</mat-icon>
      Import
    </button>

    <button
      mat-flat-button
      type="button"
      color="default"
      class="mb-1 mr-sm-2"
      (click)="onVolunteersExport()"
    >
      <mat-icon>get_app</mat-icon>
      Export
    </button>
  </div>

  <button
    mat-flat-button
    type="button"
    color="primary"
    (click)="openNewVolunteerDialog()"
    class="mb-1 ml-sm-auto"
  >
    <mat-icon>add</mat-icon>
    Nou voluntar
  </button>
</div>

<mat-card class="mat-card-search-bar">
  <form [formGroup]="filterForm" (ngSubmit)="onSearchSubmit()">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Căutare (Telefon, Nume, Prenume)"
        matInput
        formControlName="query"
      />
      <mat-select
        class="mat-select-zone"
        placeholder="Sector"
        formControlName="zone"
      >
        <mat-option [value]="null">Sector</mat-option>
        <mat-option *ngFor="let zone of zones" [value]="zone.value">
          {{ zone.label }}
        </mat-option>
      </mat-select>
      <mat-select
        class="mat-select-zone"
        placeholder="Sector"
        formControlName="role"
      >
        <mat-option [value]="null">Oferta</mat-option>
        <mat-option *ngFor="let role of roles | keyvalue" [value]="role.value">
          {{ role.key }}
        </mat-option>
      </mat-select>
      <button mat-flat-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>
</mat-card>

<mat-card
  class="mb-4 d-flex flex-column flex-sm-row flex-wrap"
  style="
    justify-content: space-between;
    height: 40px;
    font-size: 14px !important;
    align-content: center;
  "
>
  <div>
    <span class="ml-1">Calendar</span>
    <mat-icon style="transform: scale(0.4)">fiber_manual_record</mat-icon>
    <span class="ml-1">Disponibilitate Voluntari</span>
  </div>
  <mat-icon
    mat-button
    style="
      font-size: 16px !important;
      height: 16px !important;
      width: 16px;
      font-weight: bold;
      text-align: center;
    "
  >
    add
  </mat-icon>
</mat-card>

<mat-card class="table-container">
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let status of statuses; let i = index"
      (click)="onTabChange(status._id)"
      [active]="(selectedTabIndex$ | async) == status._id"
    >
      <span
        [matBadge]="
          (selectedTabIndex$ | async) == status._id
            ? (count$ | async)
            : (allStatusesCounts$ | async)[i]
        "
        matBadgeOverlap="false"
      >
        {{ status.label }}
      </span>
    </a>
  </nav>
  <table mat-table [dataSource]="dataSource$ | async">
    <!-- Icons Column -->
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.black_list"
          matTooltip="Black List"
          class="blacklist"
        ></span>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nume</th>
      <td mat-cell *matCellDef="let element">
        {{ element.first_name }} {{ element.last_name }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">
        {{ element.phone | mask: "00 000 000" }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Activ</th>
      <td mat-cell *matCellDef="let element">
        {{ element.is_active ? "Da" : "Nu" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cases_solved">
      <th mat-header-cell *matHeaderCellDef>Cases solved</th>
      <td mat-cell *matCellDef="let element">{{ element.cases_solved }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="availableHours">
      <th mat-header-cell *matHeaderCellDef>Ore pe zi</th>
      <td mat-cell *matCellDef="let element">
        {{ (tagById$(element.availability) | async)?.ro }}
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="clickable-row"
      [routerLink]="['/admin/volunteers/details', row._id]"
    ></tr>
  </table>

  <div class="loading-shade" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <div>
    <mat-paginator
      (page)="onPageChange($event)"
      [length]="count$ | async"
      [pageSizeOptions]="[20, 50, 100]"
    ></mat-paginator>
  </div>
</mat-card>
