<app-admin-page-header
  title="volunteers"
  (importCallback)="onImport()"
  (exportCallback)="onExport()"
  (addCallback)="openNewVolunteerDialog()"
  addBtnLabel="add_volunteer"
></app-admin-page-header>

<form (ngSubmit)="searchSubmit()">
  <mat-card class="search-filter mb-3">
    <input
      type="text"
      matInput
      title=""
      class="mr-1"
      placeholder="{{ 'search_by_phone_and_name' | translate }}"
      [(ngModel)]="searchFilterQuery"
      [ngModelOptions]="{ standalone: true }"
    />
    <mat-select
      placeholder="{{ 'zone' | translate }}"
      class="mx-1"
      [(value)]="searchFilterZone"
    >
      <mat-option value="all">{{ "all.feminine" | translate }}</mat-option>
      <mat-option *ngFor="let zone of zones" [value]="zone">
        {{ zone | translate }}
      </mat-option>
    </mat-select>
    <mat-select
      placeholder="{{ 'role' | translate }}"
      class="mx-1"
      [(value)]="searchFilterRole"
    >
      <mat-option value="all">{{ "all.feminine" | translate }}</mat-option>
      <mat-option *ngFor="let role of volunteerRoles" [value]="role">
        {{ role | translate }}
      </mat-option>
    </mat-select>
    <button mat-mini-fab color="primary" class="ml-1">
      <mat-icon>search</mat-icon>
    </button>
  </mat-card>
</form>

<nav mat-tab-nav-bar class="bg-white">
  <a
    mat-tab-link
    *ngFor="let tab of tabs; let i = index"
    (click)="onTabChange(tab)"
    [active]="activeTab === tab"
  >
    {{ tab.label | translate }}
    <app-badge class="ml-2 small" [class.light-blue]="activeTab === tab">
      {{ (allStatusesCounts$ | async)[i] }}
    </app-badge>
  </a>
</nav>

<div class="position-relative">
  <div class="table-responsive">
    <table
      mat-table
      [dataSource]="dataSource$ | async"
      *ngIf="(isLoading$ | async) === false"
    >
      <ng-container matColumnDef="icons">
        <td mat-cell *matCellDef="let volunteer">
          <app-volunteer-role
            [role]="cast(volunteer).role[0]"
            [showLabel]="true"
          ></app-volunteer-role>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let volunteer">
          {{ cast(volunteer).first_name }} {{ cast(volunteer).last_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <td mat-cell *matCellDef="let volunteer">
          <mat-icon class="mat-icon-small">phone</mat-icon>
          <span>+ (373) {{ cast(volunteer).phone | mask: "00 000 000" }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="zone">
        <td mat-cell *matCellDef="let volunteer">
          <mat-icon class="mat-icon-small">place</mat-icon>
          <span>{{ cast(volunteer).zone | translate }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="text-right">
          <a mat-stroked-button [routerLink]="cast(element)._id">
            {{ "details" | translate }}
          </a>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div
      *ngIf="
        (dataSource$ | async).length === 0 && (isLoading$ | async) === false
      "
      style="min-height: 144px"
      class="bg-white p-5 d-flex align-items-center justify-content-center"
    >
      {{ "no_volunteers" | translate }}
    </div>
  </div>

  <div
    class="loading-shade"
    style="min-height: 144px"
    *ngIf="isLoading$ | async"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-paginator
  (page)="onPageChange($event)"
  [length]="count$ | async"
  [pageSizeOptions]="[20, 50, 100]"
></mat-paginator>
